{% extends 'base.html' %}
{% set lang = get_locale() %}
{% block title %}{{_('Page not found')}} {% endblock %}
{
{% block body_class %}not_found_404{% endblock %}
{% block content %}
    <header>
        <h1 class="headline">{{_('Page not found')}}</h1>
    </header>
    <main>
    <p class="text-center">
    {{_('Sadly') }}    <strong>{{ request.url}}</strong>
    {{_(' was not found on ') }}<strong>{{config.SITE_NAME}}</strong>
    </p>
    <div>
            <img class="rounded mx-auto d-block" src="{{url_for('static', filename='images/aagh.jpg')}}">
    </div>
    </main>
{% endblock %}
{% block inline_script %}
{% endblock %}
