{% extends 'base.html' %}
{% set lang = get_locale() %}
{% block title %}{{data.city.city_name if 'city' in data -}}{% if 'grouping' in data -%} {{city_group_name(data['grouping']['group_id'],lang) -}} {% endif %} {{_('Music Calendar - music, concerts, events - ') -}}{{_('starting')}} {{data.start_date -}} {% endblock %}
{% block headspace %}{% include 'link_alternate.html' %}{% endblock %}
{% block body_class %}Agenda{% endblock %}
{% block content %}
    <header>
        <h1>{%- if 'city' in data -%}
                {{data.city.city_name -}} 
            {%- elif 'grouping' in data -%}
                {{city_group_name(data['grouping']['group_id'],lang) -}}
            {%- else -%}
               {{ _('Calendar') -}}
            {%- endif -%}
            &nbsp;{{_('music, concerts, events') -}}</h1>
            <h2 class="mb-4" >
            {{_('starting')}} {{data.start_date -}}
            </h2>
        <nav id="agenda_filters" class="row">
            <div class="col-md mt-2">
                <div class="input-group">
                {% if data.group_filter %} {%set ns = namespace(group_name='') %}
                    <button  id="filter_group_button"  type="button" class="btn btn-secondary" data-clck="clearFilters"><i class="bi bi-x-lg"></i></button>
                {% endif %}
                    <select id="filter_group" class="form-select">
                        <option value="0">{{_('Province')}}</option>
                        {% for g in data.groupings %} {% if data.group_filter == g.group_id %} {% set ns.group_name = g.group_name %} {% endif %}
                        <option {{ 'selected' if data.group_filter == g.group_id}} value="{{ g.group_id }}">{{ g.group_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="col-md mt-2">
                <div class="input-group">
                {% if data.city_filter %}
                    <button id="filter_city_button" type="button" class="btn btn-secondary" data-clck="clearFilters"><i class="bi bi-x-lg"></i></button>
                {% endif %}
                    <select id="filter_city" class="form-select">
                        <option value="0">{{_('Choose a place')}}{% if data.group_filter %} in {{ns.group_name}}{% endif %}</option>
                        {% for city in data.cities %}
                        <option {{'selected' if data.city_filter == city.city_id}} value="{{ city.city_id }}">{{ city.city_name }} 
 {{'  ( + '~data.max_city_distance~' km radius)' if data.city_filter == city.city_id}}

</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md mt-2">
                <div class="input-group">
                {% if data.day_filter %}
                    <button  id="filter_day_button"  type="button" class="btn btn-secondary" data-clck="clearFilters"><i class="bi bi-x-lg"></i></button>
                {% endif %}
                    <select id="filter_date" class="form-select">
                        {% for option in data.date_options %}
                        <option {{'selected' if data.day_filter == loop.index0}} value="{{loop.index0}}">{{option}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </nav>
        {% include 'page_nav_buttons.html' %}
    </header>
    <main>
    {% if data.events | length < 1 %}
        {% trans %}
             <p>Sorry, couldn't find any events matching the selected criteria.</p>
             <p>Please select another day or city perhaps.</p>
             <p>Or if you know of something we should have included here...</p>
             <p>Please be so kind to take a few seconds for our
        {% endtrans %}

             <a href="{{ url_for('muziekformulier.formulier') }}">
                 {%trans %}recommendation form! {% endtrans %}</a></p>
    {% else %}
        {% include 'agenda_events.html' %}
    {% endif %}
    </main>
    {% include 'page_nav_buttons.html' %}
{% endblock %}
{% block inline_script %}
ML['agenda_pagina'] = "{{data.page}}";
ML['results_per_page'] = "{{data.res_per_pag}}";
{% endblock %}
