        {% set dateheader = namespace(value=1) %}
        {% for event in data.events %}
            {% if dateheader and dateheader.value %}
                {% if event.date_start != dateheader.value %}
                {%   set dateheader.value = event.date_start %}
                <div class="row human-date mt-4">
                    <div class="col-12">
                        <h2 class="agenda-list-header">{{format_datetime(event.date_start,'EEEE d MMMM yyyy')}}</h2>
                    </div>
                </div>
                {% endif %}
            {% endif %}
            {% set gig_url = gig_link(event.event_hash, event.date_start, event.venue_id) %}
            <div class="row gig{{ ' icanhazimage' if event.media_url }}" itemscope itemtype="http://schema.org/Event">
                <div data-clck="get_gig" class="first-col col-md-7 d-flex align-items-stretch">
                        <a class="d-flex align-items-center justify-content-start flex-grow-1" itemprop="url" href="{{gig_url}}">
                        {% if event.media_url -%}
                            <figure class="image-cell d-flex align-items-center justify-content-center" data-img="{{ img_hash(event.media_url) }}">
                                <img alt="event" class="img-small" src="{{url_for('static',filename='images/placeholder.png')}}">
                            </figure>
                        {% endif%}
                        <strong class="d-inline-block fs-5" itemprop="name">{{event.event_title}}</strong></a>
                </div>
                <div data-clck="get_gig" class="second-col col-md-5 ">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            {% if not home_events %}
                                {% set col='col-8' %}
                            {% else %}
                                {% set col='col-12' %}
                            {% endif %}
                            <div class="{{col}} align-middle" itemprop="location" itemscope itemtype="http://schema.org/Place">
                                <a itemprop="url" href="{{gig_url}}"><strong itemprop="address">{{event.city_name}}</strong>{% if event.street_name != 'onbekend' %} - <strong itemprop="name">{{event.venue_title}}</strong>{% endif %}</a>
                            </div>
                            <div class="{% if home_events %}d-none{% else %}col-4 d-flex justify-content-end{% endif %}">
                                <a class="align-middle"  itemprop="url" href="{{gig_url}}"><em itemprop="startDate" content="{{event.date_start.strftime('%Y-%m-%d')}}">{{format_datetime(event.date_start, 'EE d MMM')}}</em></a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="detail_container col-12">
                {% include 'spinner.html' -%}
                </div>
            </div>
        {% endfor %}

