{% extends 'base.html' %}
{% set lang = get_locale() %}
{% block title -%}
Contact | Muziekladder
{% endblock %}
{% block headspace %}{% include 'link_alternate.html' %}{% endblock %}
{% block body_class %}Content ContactForm {% endblock %}
{% block content %}
<main>
    <h1 class="headline">Contact</h1>
    {% if success %}
        <div class="alert alert-success">
            {{_('Thank you, your message was sent.')}}
                <br>
            {{_('We will read it as soon as possible.')}}
        </div>
    {% else %}
    <p>
    {{_('If you wish to add events to the Muziekladder Calendar, you may do so by creating an account via our')}} <a href="{{url_for('user.register')}}">{{_('registration page')}}.</a><br>
    {{_('To add events please login and use our')}} <a href="{{url_for('muziekformulier.formulier')}}">{{_('tip-form')}}<a>.<br>

    <em>{{_('For any other questions or remarks you may use the form below')}}</em>.
    </p>
    {% set error_message = _('Your message could not be sent due to the following') %}
    {% include 'form_errors_partial.html' %}
    <form id="contactform" action="{{url_for('contact.contact')}}">
        {{ form.csrf_token }}
        <div class="row mb-4">
            <div class="col-10">
            {{ form.sender_name.label(class_="form-label") }} <span class="text-danger">*</span>
                   {{ form.sender_name(class_="form-control") }}
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-10">
            {{ form.email.label(class_="form-label") }} <span class="text-danger">*</span>
                   {{ form.email(class_="form-control") }}
            </div>
        </div>
        <div class="row mb-4">
           <div class="col-12">
               {{ form.messageText.label(class_="form-label fst-italic") }} <span class="text-danger">*</span>

                      {{ form.messageText(class_="form-control",rows=8) }}
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-3">
            {{ captcha() }} <!-- This renders an <img> tag with the captcha img. -->
            </div>
            <div class="col-md-3">

               {{ form.captcha.label(class_="form-label fst-italic") }} <span class="text-danger">*</span>
                {{form.captcha(class_="form-control")}}
            </div>
        </div>
        <div class="row mb-4">
           <div class="col-12">
            <button type="button" data-clck="sendContactForm" class="btn btn-lg btn-primary"><i class="bi bi-envelope"></i> {{_('Send It')}}</button>
           </div>
        </div>
    </form>
    {% endif %}
</main>
{% endblock %}
