        <div itemscope itemtype="http://schema.org/Event"{% if ajax%} class="position-relative"{% endif %}>
                {% set local_gig_link = gig_link(event.event_hash, event.date_start, event.venue_id) %}
                {% if event.media_url -%}
                {% if ajax %}
                <a href="{{ local_gig_link }}">
                {% else %}
                <a target="_blank" href="{{event.event_link}}">
                {% endif %}
                    <figure class="image-cell d-flex align-items-center justify-content-center" data-img="{{ img_hash(event.media_url) }}">
                        <img alt="event" src="{{url_for('static',filename='images/placeholder.png')}}">
                    </figure>
                </a>
                {% endif%}
                {% if ajax %}
                <h2 class="headline"><a href="{{local_gig_link}}"><strong itemprop="name">{{ event.event_title}}</strong></a></h2>
                <span class="opacity-75 btn btn-primary position-absolute top-0 btn-lg start-100 translate-middle agenda-item-close"><i class="bi bi-x-lg"></i></span>
                {% else %}
                <h1 class="headline"><a href="{{local_gig_link}}"><strong itemprop="name">{{event.event_title}}</strong></a></h1>
                {% endif %}
                {% if past -%}
                    <div class="alert alert-warning" role="alert"> 
                       <i class="bi bi-exclamation-triangle"></i> {{_('This event is in the past')}}
                    </div>
                {% endif %}
                <h3><em itemprop="startDate" content="{{date_start_iso}}">{{date_start}}</em></h3>
                <h4 itemprop="location">{%- if venue.get("street_name","venue_address_row") != 'onbekend' -%}
                    <i class="bi bi-geo-alt"></i> <a href="{{venue_link(event.venue_id)}}">{{event.venue_title}}</a> &nbsp; 
                    {% endif %}
                    <i class="bi bi-geo-alt-fill"></i> <a href="{{city_link(event.city_id, event.city_name)}}">{{event.city_name}}</a> &bull; <a>{{country_name(event.country_name, lang)}} </a>
                </h4>
                <p><a itemprop="url" target="_blank" href="{{event.event_link}}"><strong>{{event.event_link}}</strong></a></p>
                <p itemprop="description" class="description">
                {% set list1 = event.event_description.split('||') %}
                    {% for item in list1 %}
                        {{ item }}
                        {% if not loop.last %}
                             <br>
                          {% endif %}
                    {% endfor %}
                </p>
                <p>
                {% if ajax %}
                    <a href="{{local_gig_link}}" class="btn btn-sm btn-outline-info"><i class="bi bi-arrows-angle-expand"></i>&nbsp;&nbsp;&nbsp;<strong><em>{{event.event_title}}</em></strong></a>
                {% endif %}
                 </p>


                <p><i class="bi bi-box-arrow-up-right"></i> <a target="_blank" itemprop="url" href="{{event.event_link}}"><em><strong>{{_('More about ')}} {{event.event_title}}</strong> &raquo;</a></em></p>
            {% if venue.venue_address_row %}
                {% if venue.get("street_name","venue_address_row") != 'onbekend' %}
            <div class="location" itemprop="location" itemscope itemtype="http://schema.org/Place">
                {% if venue.venue_title %}
                <h3><a itemprop="url" href="{{venue_link(event.venue_id)}}"><strong>{{venue.venue_title}}</strong></a></h3>
                {% endif %}
                <p class="description">
                    {{venue.get_description(lang) | safe}}
                </p>

                <h5><i class="bi bi-geo-alt"></i> {{_('Location')}}:</h5>
                <ul itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
                    <li>{{venue.get("street_name","venue_address_row")}} {{venue.get("number","venue_address_row")}}</li>
                    {%set postalcode = venue.get("zip","venue_address_row")%} 
                    <li>{% if postalcode %}<span itemprop="postalCode">{{ postalcode }}</span>&nbsp;{% endif %}
                        <strong itemprop="addressLocality">{{  venue.get("city_name","venue_address_row") }}</strong></li>
                    <li><strong>{{ country_name(venue.get("country_name","venue_address_row"),lang) }}</strong></li>
                </ul>
                {% if venue.venue_title %}
                <p> <i class="bi bi-info-circle-fill"></i> <em> <a href="{{venue_link(event.venue_id)}}">{{'More about'}} <strong>{{venue.venue_title}}</strong></a></em>
                </p>
                {% endif %}
        
            </div>
                {% endif %}
            {% endif %}
        </div>
