{% extends 'base.html' %}
{% set lang = get_locale() %}
{% block title %}
{{_('Muziekladder: live music, concerts and parties in &amp; around the Netherlands')}}
{% endblock %}
{% block headspace %}{% include 'link_alternate.html' %}{% endblock %}
{% block body_class %}Home Agenda{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md">
        <h1 class="headline">{{_('Music, concerts, theatre, festivals &amp; events')}}</h1>
        <h2><i class="bi bi-geo-alt-fill"></i> {{_('Calendar per province')}}</h2>
        <nav class="nav nav-pills nav-fill mb-4 group_menu">
        {% for group in data.groups %}
            {% set group_name = group.group_name%}
            {% if lang=='en' and group.string %} 
                {% set group_name =group.string %}
            {% endif %}
            <a class="nav-link m-1 group_link" href="{{url_for('agenda.list', location_or_day='regio-'+group.group_id)}}"><i class="bi bi-geo-alt"></i> <strong>{{group_name}}</strong></a>
        {% endfor %}
        </nav>
        </div>
    </div>
    <div class="row city_images">
        <div class="col">
            <h2 class="mb-4 pb-4"><i class="bi bi-geo-alt-fill"></i> {{_('Calendar per city')}}</h2>
            <ul class="front-city-menu">
        {% for city in data.big_cities %}
                <li class="city city-{{city.city_id}}"> 
                    <a href="{{city_agenda_link(city.city_id,city.city_name)}}">
                        <span class="city-name">{{city.city_name}}</span>
                    </a>
                    <ul class="city-links">
                      <li>
                        <a href="{{city_agenda_link(city.city_id,city.city_name)}}">Agenda</a> |
                        <a href="{{city_link(city.city_id,city.city_name)}}">Locaties</a></li>
                    </ul>
                </li> 
        {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row all-cities-button mb-4 pb-4">
        <div class="col">
           <button type="button" data-clck="showAllCities" class="btn btn-outline-primary showAllCities"> <i class="bi bi-geo-alt-fill"></i> {{_('Show other cities')}} </i></button> 
           <button type="button" data-clck="showAllCities" class="btn btn-outline-primary hideAllCities"> <i class="bi bi-caret-up-fill"></i>  {{_('Hide other cities')}} </button> 
 
        </div>
    </div>
    <div class="row all-cities d-none">
        <div class="col">
                <nav class="nav nav-pills nav-fill mb-4 group_menu">
                {% for c in data.cities %}
                <a class="nav-link group_link me-2 mb-2" href="{{city_link(c.city_id,c.city_name)}}"><i class="bi bi-geo-alt"></i> <strong>{{c.city_name}}</strong></a>
                {% endfor %}
                </nav>
        </div>
    </div>
    <div class="container">
        <div class="row mb-4 gx-5">
            <div class="col-md-8">
                <h2><i class="bi bi-calendar3"></i> {{_('Today\'s events')}}:</h2>
                <hr>
                {% set home_events=1 %}    
                {% include 'agenda_events.html' %}
            </div>
            <div class="col-md-4">
                <h2><i class="bi bi-lightbulb-fill"></i> {{_('Recent tips by visitors')}}:</h2>
                <hr>
                <div class="tip-listing">
                    {% set home_tips=1 %}    
                    {% include 'posts_include.html'%}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block inline_script %}
{% endblock %}
