{% if request.query_string|length -%}
    {% set pth = request.full_path -%}
{% else -%}
    {% set pth = request.path -%}
{% endif -%}
{% if lang == 'nl' -%}
    {% if "/nl/" in request.path -%}
        <link rel="alternate" hreflang="en" href="{{_root}}{{pth | replace("/nl/","/en/")}}">
        <link rel="canonical" href="{{_root}}{{pth | replace("/nl/","/")}}">
    {% endif -%}
{% elif lang == 'en' -%} 
    {% if "/en/" in request.path -%}
        <link rel="alternate" hreflang="nl" href="{{_root}}{{pth | replace("/en/","/nl/")}}">
        <link rel="canonical" href="{{_root}}{{pth | replace("/en/","/")}}">
    {% endif -%}
{% endif -%}
