{% extends 'base.html' %}
{% set lang = get_locale() %}
{% set link = data.venue.get('venue_link','venue_row') %}
{% block title %}{{data.venue.title | safe}}{% endblock %}
{% block headspace %}{% include 'link_alternate.html' %}{% endblock %}
{% block body_class %}Locaties-venue{% endblock %}
{% block content %}
    <header>
        {%if data.venue.deactivated %}
<div class="fs-4 alert alert-warning" role="alert">
   <i class="bi bi-exclamation-triangle"></i> <em>{{_('This venue is no longer actively kept up to date on Muziekladder')}}.</em>
    <br>
    <em>{{_("It's current status is unknown")}}.</em>
   <br> <em>{{_('The information below is very likely no longer relevant and is shown only for historical reference')}}.</em>
</div>
        {% endif %} 
        <h1 class="headline">{{data.venue.title | safe}} </h1>
       <h6>{{data.venue.get_description(lang) |safe}}</h6>
        <p><a target="_blank" href="{{link}}">{{link}}</a></p>
    </header>
    <main>
        {% for ve_ad in data.venue.venue_address_rows %}
            <div id="address_{{ve_ad.address_id}}" class="map" style="width:100%; height:300px"></div>
            <div class="row">
                <div class="col-md">
                    <table class="table table-striped address_table">
                        <thead>
                            <tr>
                                <th colspan="2">
                                   <h5><i class="bi bi-geo-alt"></i> <strong>{{ve_ad.venue_address_title | safe}}</strong></h5>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {%if ve_ad.street_name != 'onbekend'%}
                            <tr>
                                <td><strong>{{_('Address')}}</strong>:</td>
                                <td><strong>{{ve_ad.street_name}}</strong>
                                <em>{{ve_ad.number}}</em></td>
                            </tr>
                            {% endif %}
                            <tr><td></td>
                                <td>{{ve_ad.zip if ve_ad.zip }}
                                <strong>{{ve_ad.city_name}}</strong>, 
                                {{country_name(ve_ad.country_name,lang)}}</td>
                            </tr>
                            <tr>
                                <td><strong>Website</strong>:
                                </td>
                                <td>
                                    <a target="_blank" href="{{link}}">{{link}}</a>
                                </td>
                            </tr> 
                        </tbody>
                    </table>
                </div>
                <div class="col-md"></div>
            </div>
            {%- if data.events | length -%}
            <hr>
            
            <h2 class="mb-4">{{data.venue.title | safe}} {{_('agenda') }}</h2>
            <div class="row">
                <div class="col-md">
                    {% for event in data.events %}
                    {% set gig_url = gig_link(event.event_hash, event.date_start,  event.venue_id) %}
                        <div class="row locatie_gig_row" itemscope itemtype="http://schema.org/Event">
                            <div class="col-md-3">
                                <i class="bi bi-arrow-right-square-fill"></i>&nbsp;&nbsp;
                                <a itemprop="url" href="{{gig_url}}"><strong itemprop="startDate" content="{{event.date_start.strftime('%Y-%m-%d')}}">{{format_datetime(event.date_start, 'EEEE d MMMM') | capitalize}}</strong></a>
                            </div> 
                            <div class="col-md">
                                <a href="{{gig_url}}"><strong itemprop="name" >{{event.event_title}}</strong></a>
                            </div>
                            <div class="col-md" itemprop="location" itemscope itemtype="http://schema.org/Place">
                                <strong itemprop="name" >{{event.venue_title}} - {{event.city_name}}</strong></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {%-endif -%}
       {% endfor %}
    </main>
{% endblock %}
{% block inline_script %}
        ML['venue_addresses'] = {{ data.venue.venue_address_rows | tojson | safe}};
{% endblock %}
