{% extends 'base.html' %}
{% set lang = get_locale() %}
{% block title %}Muziekladder artist recommendations{% endblock %}
{% block headspace %}{% include 'link_alternate.html' %}{% endblock %}
{% block body_class %}Artistform Post list_on_delete{% endblock %}
{% block content %}
    <header>
      {% set usr_nav_link=5 %}
        {% include ('user_nav_include.html') %}
 
        <h1 class="headline">{{_('Recommend or promote an artist')}}</h1>
      {% set usr_nav_link=2 %}
      {% include 'muziekformulier_navbar.html'%} 

      <p><em>{{_('Your recommendations will be added to the Muziekladder artist list after validation')}}.</em> </p>
    </header>
    <main id="mainBlock">
        <div id="formContainer">
            {% include 'muziekformulier_artist_include.html' %}
        </div>
        <div id="uploadContainer"></div>
        <div id="submitContainer">
            <div class="row">
                <div class="col">
                    <a href="#" data-clck="submitButton" class="btn btn-lg btn-primary">{{_('submit')}} <i class="bi bi-forward"></i></a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block inline_script %}
ML['edit_post_id']="{{data.post_id}}"
{% endblock %}
