{% if current_user.is_authenticated %}
    <ul class="nav nav-tabs mb-4">
      <li class="nav-item">
        <a id="usr_nav_link_1" class="nav-link {{ 'active' if usr_nav_link==1 }}" href="{{url_for('muziekformulier.formulier')}}">{{_('Post Event')}}</a>
      </li>
      <li id="usr_nav_link_2" class="nav-item">
        <a class="nav-link {{ 'active' if usr_nav_link==2 }}" href="{{url_for('muziekformulier.artistform')}}">{{_('Promote artist')}}</a>
      </li>
    </ul>
{% endif %}

