<div id="success_form">
    <p class="fs-5 alert alert-success">
        <i class="bi bi-check-circle"></i> {{ _('Thanks!<br> Your recommendation has been successfully submitted. We will process it as soon as possible')}}.
    </p>
    <p>
        <a href="{{url_for('muziekformulier.formulier')}}" class="btn btn-outline-primary">{{_('Click here to add another recommendation')}}</a>
    </p>
</div>
<div class="tip_container tip-listing">
    <h2 class="mb-4">{{_('Your recent posts')}}</h2>
    <hr>
    {% include 'posts_include.html'%}
</div>

