{% if not current_user.is_authenticated %}
    <a class="btn btn-outline-primary btn-lg" href="{{url_for('user.login')}}"><i class="bi bi-info-circle"></i> {{_('Please log in or register to add your recommendations to Muziekladder
')}}</a>
{% else %}

    <form id="muziekformulier_artist" class="postForm" method="POST" action="{{url_for('muziekformulier.formulier')}}">
        {{ form.csrf_token }}
        {{form.media}}
        {{form.post_id}}
       <div class="row">
            <div class="col mb-4">
                <em>{{_('Fields marked with * are mandatory')}}</em>
            </div>
       </div>
       <fieldset> 
            <div class="row mb-4">
                <div class="col-11">
                {{ form.title.label(class_="form-label") }} <span class="text-danger">*</span>
                    {% if form.title.errors %}
                    <div>
                        <ul>
                        {% for error in form.title.errors %}
                        <li class="text-danger-emphasis">{{ error }}</li>
                        {% endfor %}
                        <ul>
                    </div>
                    {% endif %}
                {{ form.title(class_="form-control") }}
                </div>
            </div>
            <div class="row mb-4">
               <div class="col-11">
                {{ form.link.label(class_="form-label") }} <span class="text-danger">*</span>
                    {% if form.link.errors %}
                        <div>
                            <ul>
                            {% for error in form.link.errors %}
                            <li class="text-danger-emphasis">{{ error }}</li>
                            {% endfor %}
                            <ul>
                        </div>
                    {% endif %}
                {{ form.link(class_="form-control",
                    placeholder=_('http://... - please provide a working url/link')) }}
                </div>
            </div>
            <div class="row mb-4">
               <div class="col-11">
                {{ form.link2.label(class_="form-label") }} <span class="text-danger">*</span>

                    {% if form.link2.errors %}
                        <div>
                            <ul>
                            {% for error in form.link2.errors %}
                                <li class="text-danger-emphasis">{{ error }}</li>
                            {% endfor %}
                            <ul>
                        </div>
                    {% endif %}
                {{ form.link2(class_="form-control",
                    placeholder=_('http://...- youtube, spotify, soundcloud etc..')) }}
                </div>
            </div>
        </fieldset>
        <div class="row mb-4">
           <div class="col-12">
               {{ form.descText.label(class_="form-label fst-italic") }} <span class="text-danger">*</span>

                {% if form.descText.errors %}
                    <div>
                        <ul>
                        {% for error in form.descText.errors %}
                            <li class="text-danger-emphasis">{{ error }}</li>
                        {% endfor %}
                        <ul>
                    </div>
                {% endif %}
               {{ form.descText(class_="form-control",rows=8, placeholder=_('Music genre, biograpy, discograpy, etc...')) }}
            </div>
        </div>
    </form>

    {% if form.errors %}
    <div id="errorModal" class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{_('Before continuing, please check the following:')}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <ul class="form_errors">
           {% for field in form if field.widget.input_type != 'hidden' %}
                {% if field.errors %}
                    {% for error in field.errors %}
                    <li class="text-danger-emphasis">{{ error }}</li>
                    {% endfor %}
                {% endif%}
           {% endfor %}
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {% endif%}

{% endif %}
