{% extends 'base.html' %}
{% set lang = get_locale() %}
{% block title %}Muziekladder recommendations{% endblock %}
{% block headspace %}{% include 'link_alternate.html' %}{% endblock %}
{% block body_class %}Muziekformulier Post list_on_delete{% endblock %}
{% block content %}
      {% set usr_nav_link=5 %}

      {% if current_user.is_authenticated %}
        {% include ('user_nav_include.html') %}

      {% endif%}
    <header>
        <h1 class="headline">{{_('Recommend an event')}}</h1>
        {% set usr_nav_link=1 %}
        {% include 'muziekformulier_navbar.html'%} 

        <p><em> {{_('Your recommendations will be added to the Muziekladder calendar after validation')}}.</em> </p>
    </header>
    <main id="mainBlock">
        <div id="formContainer">
            {% include 'muziekformulier_include.html' %}
        </div>
        <div id="uploadContainer"></div>
        <div id="submitContainer">
            <div class="row">
                <div class="col">
                    <a href="#" data-clck="submitButton" class="btn btn-lg btn-primary">{{_('submit')}} <i class="bi bi-forward"></i></a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block inline_script %}
ML['edit_post_id']="{{data.post_id}}"
{% endblock %}
