{% if file %}
         {{ form.photo.label(class_="form-label") }} 
         <div class="row" id="photoUploaded" data-file_id="{{media_id}}">
            <div class="col mb-4">
                  <img src="{{ url_for('image.get_image', _format='thumb', _media_id=media_id) }}" /> <em>{{file}}</em>
                  <a href="#" id="retryButton" class="btn btn-secondary btn-sm ms-4">{{_('change')}}</a>
                  <a href="#" id="deleteButton" class="btn btn-danger btn-sm ms-4">{{_('delete')}}</a>
                 
            </div>
         </div>
{% else %}
    {% if form.errors %}
        <ul class="form_errors">
        {% for field in form if field.widget.input_type != 'hidden' %}
            {% if field.errors %}
                {% for error in field.errors %}
                <li class="text-danger-emphasis">{{ error }}</li>
                {% endfor %}
            {% endif%}
        {% endfor %}
        </ul>
    {% endif%}
    <form id="photoformulier" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="row">
            <div class="col mb-4">
        {{ form.photo.label(class_="form-label") }} 
        {{ form.photo(class_="form-control") }}
            </div>
        </div>
    </form>
{% endif %}
