{% if not current_user.is_authenticated %}
    <a class="btn btn-outline-primary btn-lg" href="{{url_for('user.login')}}"><i class="bi bi-info-circle"></i> {{_('Please log in or register to recommend your events to Muziekladder
')}}</a>
{% else %}
    <form id="muziekformulier" class="postForm" method="POST" action="{{url_for('muziekformulier.formulier')}}">
        {{ form.csrf_token }}
        {{form.submitThis}}
        {{form.media}}
        {{form.post_id}}
       <div class="row">
            <div class="col mb-4">
            <em>{{_('Fields marked with * are mandatory')}}</em>

            </div>
       </div>
       <div class="row mb-4">
            <div class="col-md-5">
            {{ form.eventType.label(class="form-label") }} <span class="text-danger">*</span>
            {{ form.eventType(class_="form-select form-select-lg mb-3") }}
            </div>
       </div>
       <fieldset class="step1_row"> 

            {% if form.eventDates.errors %}
            <div class="row">
                <div class="col">
                    <ul>
                    {% for error in form.eventDates.errors %}
                        <li class="text-danger-emphasis">{{ error }}</li>
                    {% endfor %}
                    <ul>
                </div>
            </div>
            {% endif %}
            <div class="row mb-4" >
                <div class="col">
                {{ form.eventDates.label(class_="form-label") }} <span class="text-danger">*</span>
                {{ form.eventDates(class_="form-control",placeholder= _("select one or more dates for the event(s)")) }}
                </div>
                <div class="col">
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-11">
                {{ form.title.label(class_="form-label") }} <span class="text-danger">*</span>
                    {% if form.title.errors %}
                    <div>
                        <ul>
                        {% for error in form.title.errors %}
                            <li class="text-danger-emphasis">{{ error }}</li>
                        {% endfor %}
                        <ul>
                    </div>
                    {% endif %}
                {{ form.title(class_="form-control") }}
                </div>
            </div>
            <div class="row mb-4">
               <div class="col">
                {{ form.link.label(class_="form-label") }} <span class="text-danger">*</span>
                    {% if form.link.errors %}
                        <div>
                            <ul>
                            {% for error in form.link.errors %}
                                <li class="text-danger-emphasis">{{ error }}</li>
                            {% endfor %}
                            <ul>
                        </div>
                    {% endif %}
                {{ form.link(class_="form-control",
                    placeholder=_('https://..... - please provide a working url/link for more information about event and/or artist(s)')
                ) }}

                </div>
            </div>

        </fieldset>
        <fieldset class="step2_row"> 
        <legend>{{_('Location')}}</legend> 
        <div class="row mb-4">
            <div class="col-md-4 citySelectContainer">
            {{ form.citySelect.label(class_="form-label") }} <span class="text-danger">*</span>
            {{ form.citySelect(class_="form-select") }}
            </div>
             <div class="col-md-5 pt-3">
                {{ form.checkboxCity(class_="form-check-input") }} 
                {{ form.checkboxCity.label(class_="form-check-label fst-italic") }}
            </div>
        </div>      

        {% if "venueSelect" in form %}
        <div class="row mb-2">
           <div class="col-md-4 venueSelectContainer" data-len="{{form.venueSelect.choices | length}}">
                {{ form.venueSelect.label(class_="form-label") }} <span class="text-danger">*</span>
                {{ form.venueSelect(class_="form-select") }}
            </div>
            <div class="col-md-5 checkboxVenueContainer pt-3">
                {{ form.checkboxVenue(class_="form-check-input") }} 
                {{ form.checkboxVenue.label(class_="form-check-label fst-italic") }}
            </div>
        </div>

        {% endif%}
        <div class="row mb-3">
            <div class="col cityTextContainer">
            {{ form.cityAsText.label(class_="form-label fst-italic")}} <span class="text-danger">*</span>

            {{ form.cityAsText(class_="form-control")}}
            </div>
        </div>
        <div class="row">
           <div class="col venueTextContainer">
                {{ form.venueAsText.label(class_="form-label fst-italic") }} <span class="text-danger">*</span>

                {{ form.venueAsText(class_="form-control",rows=4) }}
            </div>
        </div>
 
        </fieldset>
        <div class="row mb-4 step2_row">
           <div class="col-md-8">
                {{ form.descText.label(class_="form-label fst-italic") }} 
                {{ form.descText(class_="form-control",rows=6) }}
            </div>
        </div>
    </form>


    {% if form.errors %}

    <div id="errorModal" class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{_('Before continuing, please check the following:')}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <ul class="form_errors">
            {% for field in form if field.widget.input_type != 'hidden' %}
                {% if field.errors %}
                    {% for error in field.errors %}
                    <li class="text-danger-emphasis">{{ error }}</li>
                    {% endfor %}
                {% endif%}
            {% endfor %}
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {% endif%}

{% endif %}
