    <nav class="navbar navbar-dark top-menu-top">
        <div class="container top-menu-items justify-content-end lh-sm opacity-0">
            <div class="top-link lang-links">
                <a title="Nederlands" class="link-light lang-link" href="{{_root}}/nl/" data-clck="langlink" data-lang="nl">NL</a> <span> &nbsp;|&nbsp; </span> <a title="English" class="link-light lang-link" href="{{_root}}/en/" data-clck="langlink" data-lang="en">EN</a>
            </div>
            <div class="top-link dark-light">
                <input class="form-check-input d-none" type="checkbox" value="" id="darkModeCheck">
                <label class="btn btn-sm btn-outline-primary form-check-label" for="darkModeCheck">
                    <i title="{{_('Dark mode')}}" class="bi bi-moon-stars-fill"></i>
 <span class="topbar-button-txt dark-button-txt">Dark</span>

                    <i title="{{_('Light mode')}}" class="bi bi-sun-fill"></i> <span class="topbar-button-txt light-button-txt">Light</span>
                </label>
            </div>
            <div class="menu-search-small">
                <a title="search" class="btn btn-sm btn-outline-primary top-link" href="{{url_for('search.find')}}"><i class="bi bi-search"></i></a>
            </div>
            <div class="user_status_placeholder top-link btn btn-sm"><i class="bi bi-person"></i></div>
        </div>
    </nav>
    <nav class="top-menu-nav navbar sticky-top navbar-dark">
      <!-- Navbar content -->
        <div class="container">
            <a class="top-logo-link" href="{{url_for('home.home')}}"><img class="top-logo" alt="{{config.SITE_NAME}}" src ="{{ url_for('static', filename='images/logo.png')}}"><img alt="{{config.SITE_NAME}}" class="top-logo-small" src ="{{ url_for('static', filename='images/muziekladder.png')}}"></a>
            <div class="top-menu d-vsm-flex align-items-stretch">
                <div class="hamburger-menu text-center" >
                    <span class="p-4" role="button" data-clck="expandHamburger">
                        <i class="bi bi-list fs-1"></i>
                    </span>
                </div> 
                {% for item in menu %}
                {% set item_url = url_for(item.url) %}
                <div class="menu-item d-vsm-flex  align-items-center justify-content-center {{ 'active' if request.path == item_url else '' }}">
                    <a class="menu-item-link" href="{{url_for(item.url)}}">{{item.text}}</a>
                </div>
                {% endfor%}
            </div>
            <div class="menu-search">
                <form class="d-flex " action="{{url_for('search.find')}}">
                    <input class="form-control me-2" type="search" placeholder="{{_('Search')}}" aria-label="Search" name="q">
                    <button class="btn btn-outline-light" type="submit">{{_('Search')}}</button>
                </form>
            </div>
        </div>
    </nav>
    {% if breadcrumbs %}
    <nav class="mb-5">
        <div class="container">
            <ol class="breadcrumb mb-4">
               <li class="breadcrumb-item"><a href="/">Home</a></li>
            {% for item in breadcrumbs %}
               <li class="breadcrumb-item"><a href="{{item.link}}">{{item.text}}</a></li>
            {% endfor %}
            </ol>
        </div>
    </nav>
    {% endif %}
