 <nav class="pageButtons">
        {% if data.page > 0 -%}
        <h5>{{_('page') }} {{data.page+1}}</h5>
        <a class="btn btn-outline-primary previous-page" href="{{request.path}}?pagina={{data.page-1}}"><i class="bi bi-caret-left-fill"></i> {{_('previous page')}}</a>&nbsp;
        {% endif %}
        {% if data.number_of_results == data.res_per_pag -%}
        <a class="btn btn-outline-primary next-page" href="{{request.path}}?pagina={{data.page+1}}">{{_('next page')}} <i class="bi bi-caret-right-fill"></i></a>
        {% endif %}
 </nav>
