<header>
    <h1 class="headline"><a href="{{url_for('tips.tip', post_id_slug=post.detail_link)}}">{{post.post_title}}</a></h1>
    
    {% include('post_edit_buttons.html')%}
{% for m in post.media%}
    {% if m.local_path %}
    <figure class="figure float-md-end ms-md-3">
        <img class="img_{{m.media_id}} figure-img img-fluid rounded" loading="lazy" src="{{url_for('image.get_image',_format='big',_media_id=m.media_id)}}" alt="{{post.post_title}}">
    </figure>
    {% endif %}
{% endfor %}
{% if post.post_type == 'artist'%}
  {% include('post_artist_details_include.html')%}
{% else %}
   {% include('post_event_details_include.html')%}
{% endif %}
</header>
<hr>
<p class="desc">
    {% set pd = post.post_data %}
    {% if pd.descText%}
    {% set nl2br = pd.descText %}
    {% set break = "<br><br>" %}
 
    {% include 'nl2br_include.html' %}
    {% endif %}
</p>
