{% for post in data.posts %}
<article id="post_{{post.post_id}}" class="post clearfix overflow-hidden mb-5 pb-2 pt-4">
    {% set detail_link = url_for('tips.tip', post_id_slug=post.detail_link) %}
    <h3 class="mb-4"><a href="{{detail_link}}">{{post.post_title}}</a></h3>
    <hr>
{% for m in post.media%}
    {% if m.local_path %}
    <figure class="figure {% if not home_tips %}float-md-end{% endif %}">
        <a href="{{detail_link}}"><img class="img_{{m.media_id}} figure-img img-fluid rounded" loading="lazy" src="{{url_for('image.get_image',_format='list',_media_id=m.media_id)}}" alt="{{post.post_title}}"></a>
    </figure>
    {% endif %}
{% endfor %}
{% if post.post_type == 'artist' %}
    {% include('post_artist_details_include.html')%}
{% else %}
    {% include('post_event_details_include.html')%}
{% endif %}   
    <p class="desc">
        {% set pd = post.post_data %}
        {% if pd.descText %}
        {% set desc = pd.descText | truncate(255) %}
        {% set descList = desc.split("\n") %}
        {% for d in descList %}
            {% if  d | trim | length > 0 %}
            {{d}} {{"" if loop.last else "<br>" | safe }}
            {% endif %}
        {% endfor %}
        {% endif %}
    </p>

    <p><a href="{{detail_link}}"><i class="bi bi-eye-fill"></i> {{_('Read more')}}</a></p>
{% if not home_tips and not main_tips %}
    {% include('post_edit_buttons.html')%}
{% endif %}
</article>

{% endfor %}
