    {% set pdata = post.artist_details %}
    <ul class="post-event-details">
        <li class="extensive"><a target="_blank" href="{{pdata['link']}}">{{pdata['link']}}</a></li>
        <li class="extensive"><a target="_blank" href="{{pdata['link2']}}">{{pdata['link2']}}</a></li>
        <li class="extensive">{{_('Posted by')}}:</li>
        <li class="extensive"><strong><a href="{{url_for('user.user_profile', user_id=post.user.user_id)}}">{{post.user.user_name}}</a></strong></li>
    </ul>
