{% extends 'base.html' %}
{% set lang = get_locale() %}
{% block title -%}
{{_('Tips')}} | Muziekladder
{% endblock -%}
{% block headspace %}{% include 'link_alternate.html' %}{% endblock %}
{% block body_class %} Post Post-list cached_posts{% endblock %}

{% block content %}
<header class="mb-4">
    <h1 class="mb-3">{{_('Recent tips')}}</h1>
    <a class="btn btn-outline-primary btn-lg" href="{{url_for('muziekformulier.formulier')}}"><i class="bi bi-info-circle"></i> {{_('Add an event or artist')}}</a>
</header>
<main class="tip_container">

        {% include 'post-list_pagination.html'%}
        <hr>
        <div class="tip-listing">
        {% set main_tips=1 %}    
        {% include 'posts_include.html'%}
        </div>
        {% include 'post-list_pagination.html'%}
</main>
{% endblock %}
{% block inline_script -%}
            ML['tip_page'] = "{{data.page}}"
{% endblock %}
