    {% set pdata = post.event_details %}
    <ul class="post-event-details">
        <li class="extensive"><a target="_blank" href="{{pdata['link']}}">{{pdata['link']}}</a></li>
        {% set nl2br = pdata['venue'] %}
        <li><strong>{% include('nl2br_include.html') %}</strong></li>
        {% if post.event_details['venue_id'] %}
        <li class="extensive">{{post.event_details['street_name']}} {{post.event_details['number']}}</li>
        <li><i class="bi bi-geo-alt"></i> <strong>{{pdata['city_name']}}</strong></li>
        {% else %}
        <li class="city"><i class="bi bi-geo-alt"></i> <strong>{{pdata['city']}}</strong></li>
        {% endif %}
        
        <li>{{_('Date')}}:
            <ul class="date-list list-group list-group-flush">
                {% for dty in pdata.dates %}
                   <li class="list-group-item"><i class="bi bi-calendar-event"></i>&nbsp;&nbsp;<strong>{{format_date_string(dty,"%d-%m-%Y", 'EEEE d MMMM yyyy')}}</strong></li>
                {% endfor %}
            </ul>
        </li>
        <li class="extensive"><em>{{pdata['type']}}</em></li>
        <li class="extensive">{{_('Posted by')}}:</li>
        <li class="extensive"><strong><a href="{{url_for('user.user_profile', user_id=post.user.user_id)}}">{{post.user.user_name}}</a></strong></li>
    </ul>
