{% if data.total_pages > 1%}
<p>
{{_('Page')}} {{data.page | int + 1}} {{_('of')}} {{data.total_pages}}
</p>
<nav>
  <ul class="pagination">
    {% if 1 not in data.page_range %}
        {% if data.list_mode == 'user_profile'%}
            {% set link = url_for('user.user_profile', page=0, user_id=data.user_id) %}
        {% else %}
            {% set link = url_for('tips.listing',page=0)%}
        {% endif%}
        <li class="page-item"><a class="page-link" href="{{link}}"><i class="bi bi-skip-backward-fill"></i></a></li>
    {% endif %}
 
    {%if data.page > 0 %}
        {% if data.list_mode == 'user_profile'%}
            {% set link = url_for('user.user_profile', page=data.page-1, user_id=data.user_id) %}
        {% else %}
            {% set link = url_for('tips.listing', page=data.page-1)%}
        {% endif%}

        <li class="page-item"><a class="page-link" href="{{link}}"><i class="bi bi-caret-left-fill"></i></a></li>
    {% endif %}
    {% for n in data.page_range %}
        {% if data.list_mode == 'user_profile'%}
            {% set link = url_for('user.user_profile',page=n-1, user_id=data.user_id)%}
        {% else %}
            {% set link = url_for('tips.listing',page=n-1)%}
        {% endif%}
 
    <li class="page-item {{' active' if n==data.page+1 }}"><a class="page-link" href="{{link}}">{{n}}</a></li>
    {% endfor %}
    {%if data.page < data.total_pages-1 %}
        {% if data.list_mode == 'user_profile' %}
            {% set link = url_for('user.user_profile', page=data.page+1, user_id=data.user_id) %}
        {% else %}
            {% set link = url_for('tips.listing', page=data.page+1)%}
        {% endif%}
    <li class="page-item"><a class="page-link" href="{{link}}"><i class="bi bi-caret-right-fill"></i></a></li>
    {% endif%}
    {% if data.total_pages not in data.page_range %}
        {% if data.list_mode == 'user_profile' %}
            {% set link = url_for('user.user_profile', page=data.total_pages-1, user_id=data.user_id) %}
        {% else %}
            {% set link = url_for('tips.listing', page=data.total_pages-1)%}
        {% endif%}
        <li class="page-item"><a class="page-link" href="{{link}}"><i class="bi bi-skip-forward-fill"></i></a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
