    <nav class="post-edit-buttons invisible mb-2" data-uid="{{post.user_id}}"><a class="btn btn-primary btn-sm" href="{{url_for('muziekformulier.edit_post',post_id=post.post_id)}}"><i class="bi bi-pencil-fill"></i> {{_('Edit this')}}</a>&nbsp;&nbsp;
    <a class="btn btn-danger btn-sm" href="#" data-clck="post_remove" data-href="{{url_for('muziekformulier.delete_post',post_id=post.post_id)}}"><i class="bi bi-trash3-fill"></i> {{_('Delete')}}</a>
    </nav>
