{% extends 'base.html' %}
{% set lang = get_locale() %}
{% block title %}
{{_('Privacy Policy')}} | Muziekladder
{% endblock %}
{% block body_class %}Content {% endblock %}
{% block content %}
<main>
    <h1 class="headline">Privacy Verklaring</h1>
    <article>
      <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><div><span style="">Muziekladder.nl respecteert de privacy van de bezoekers van de Website, in het bijzonder de rechten van bezoekers met betrekking tot de geautomatiseerde verwerking van persoonsgegevens. Vanwege volledige transparantie met onze klanten hebben wij daarom een beleid geformuleerd en geïmplementeerd met betrekking tot deze verwerkingen zelf, het doel ervan alsook de mogelijkheden voor betrokkenen om hun de rechten zo goed mogelijk te kunnen uitoefenen. </span>
    <p dir="ltr"><span style="">Voor alle aanvullende informatie over de bescherming van persoonsgegevens kunt u terecht op de website van de Autoriteit persoonsgegevens: </span><a href="https://autoriteitpersoonsgegevens.nl/nl"><span style="color:rgb(17, 85, 204)">https://autoriteitpersoonsgegevens.nl/nl</span></a><span style="">.</span></p>
    <p dir="ltr">Totdat u op de website het gebruik van cookies en andere tracking systems accepteert, plaatsen wij geen niet-geanonimiseerde analytische cookies en/of tracking cookies op uw computer, mobiele telefoon of tablet</p>
    <p dir="ltr"><span style="">Met het voortzetten van het bezoek van de Website accepteert u de volgende gebruikersvoorwaarden.  </span></p>
    <p dir="ltr"><span style="">De huidige op de Website beschikbare versie van de privacyverklaring is de enige versie die van toepassing is zolang u de Website bezoekt, totdat een nieuwe versie de huidige versie vervangt.</span></p>
    <p dir="ltr">
     </p>
    <p dir="ltr"><strong><span style="">Artikel 1 - Wettelijke bepalingen</span></strong></p>
    <ol dir="ltr">
    <li><span style="">Website (hierna ook “de website”): muziekladder.nl</span></li>
    </ol>
    <ol dir="ltr" start="2">
    <li>Verantwoordelijke voor de verwerking van persoonsgegevens (Hierna ook: “De beheerder”): J.Osterhaus <span style="">(bereikbaar op <a href="mailto:info@muziekladder.nl">info@muziekladder.nl</a>).</span></li>
    </ol>
    <p> </p>
    <p><strong><span style="">Artikel 2 - Toegang tot de website</span></strong></p>
    <p><span style="">De toegang tot de website en het gebruik is strikt persoonlijk. U zult deze website alsook de gegevens en informatie die daarop verstrekt worden niet gebruiken voor commerciële, politieke of publicitaire doeleinden, dan wel voor enige commerciële aanbiedingen en in het bijzonder niet gebruiken voor ongevraagde elektronische aanbiedingen.  </span></p>
    <p dir="ltr"> </p>
    <p dir="ltr"><strong><span style="">Artikel 3 - De content van de website  </span></strong></p>
    <p><span style="">Alle merken, afbeeldingen, teksten, commentaren, illustraties, (animatie)plaatjes, videobeelden, geluiden, alsook alle technische applicaties die gebruikt kunnen worden om de website te laten functioneren en meer in het algemeen alle onderdelen die op deze site zijn gebruikt, zijn beschermd bij wet door intellectuele eigendomsrechten. Iedere reproductie, herhaling, gebruik of aanpassing, op welke wi1jze dan ook, van het geheel of slechts een onderdeel ervan, met inbegrip van de technische applicaties, zonder voorafgaande schriftelijke toestemming van de verantwoordelijke, is ten strengste verboden. Indien de beheerder niet meteen actie onderneemt tegen enig inbreuk, kan dat niet worden opgevat als stilzwijgende toestemming dan wel het afzien van rechtsvervolging.</span></p>
    <p dir="ltr"> </p>
    <p dir="ltr"><strong><span style="">Artikel 4 - Het beheer van de website</span></strong></p>
    <p><span style="">Voor het goede beheer van de website kan de beheerder op ieder moment:</span></p>
    <ul>
    <li><span style="">de toegang aan een bepaalde categorie bezoekers schorsen, onderbreken of beperken tot de gehele of een gedeelte van de website</span></li>
    <li dir="ltr">
    <p dir="ltr"><span style="">alle informatie verwijderen die het functioneren van de website kan verstoren of in strijd is met nationale of internationale wetgeving of in strijd is met internet-etiquette</span></p>
    </li>
    <li dir="ltr">
    <p dir="ltr"><span style="">de website tijdelijk niet beschikbaar hebben teneinde updates uit te kunnen voeren </span></p>
    </li>
    </ul>
    <p dir="ltr"> </p>
    <p dir="ltr"><strong><span style="">Artikel 5 - Verantwoordelijkheden</span></strong></p>
    <p><span style="">De beheerder is in geen geval verantwoordelijk voor falen, storingen, moeilijkheden of onderbrekingen van het functioneren van de website, waardoor de website of een van zijn functionaliteiten niet toegankelijk is.</span> <span style="">De wijze waarop u verbinding zoekt met de website is uw eigen verantwoordelijkheid. U dient zelf alle geschikte maatregelen te treffen om uw apparatuur en uw gegevens te beschermen tegen onder andere virusaanvallen op het internet. U bent bovendien zelf verantwoordelijk voor de websites en de gegevens die u op internet raadpleegt.</span></p>
    <p><span style="">De beheerder is niet aansprakelijk voor juridische procedures die tegen u worden gevoerd:</span></p>
    <ul>
    <li dir="ltr">
    <p dir="ltr"><span style="">vanwege het gebruik van de website of diensten toegankelijk via internet</span></p>
    </li>
    <li dir="ltr">
    <p dir="ltr"><span style="">vanwege het schenden van de voorwaarden van deze privacy policy</span></p>
    </li>
    </ul>
    <p><span style="">De beheerder is niet verantwoordelijk voor enige schade die u zelf oploopt, dan wel derden of uw apparatuur oplopen als gevolg van uw verbinding met of het gebruik van de website. U zult zich onthouden van iedere actie tegen de beheerder als gevolg hiervan.</span></p>
    <p><span style="">Indien de beheerder betrokken raakt bij een geschil als gevolg van uw gebruik van deze website, is hij gerechtigd alle schade die hij dientengevolge lijdt en nog zal lijden op u te verhalen. </span></p>
    <p dir="ltr"> </p>
    <p dir="ltr"><strong><span style="">Artikel 6 - Het verzamelen van gegevens</span></strong></p>
    <p><span style="">Onder persoonsgegevens worden verstaan: alle informatie over een geïdentificeerde of identificeerbare natuurlijke persoon; als identificeerbaar wordt beschouwd een natuurlijke persoon die direct of indirect kan worden geïdentificeerd, met name aan de hand van een identificator zoals een naam, een identificatienummer, locatiegegevens, een online identificator of een of meer elementen die kenmerkend zijn voor de fysieke, fysiologische, genetische, psychische, economische, culturele of sociale identiteit.</span></p>
    <p><span style="">De persoonsgegevens die op de website worden verzameld worden hoofdzakelijk gebruikt door de beheerder voor het onderhouden van relaties met u en indien aan de orde voor het verwerken van uw meldingen en tips.  </span></p>
    <p> </p>
    <p><strong><span style="">Artikel 7 - Uw rechten met betrekking tot uw gegevens</span></strong></p>
    <p><span style="">Op grond van artikel 13 lid 2 sub b AVG heeft eenieder recht op inzage van en rectificatie of wissing van zijn persoonsgegevens of beperking van de hem betreffende verwerking, alsmede het recht tegen de verwerking bezwaar te maken en het recht op gegevensoverdraagbaarheid. U kunt deze rechten uitoefenen door contact met ons op te nemen via <a href="mailto:info@muziekladder.nl">info@muziekladder.nl</a>. </span></p>
    <p><span style="">Ieder verzoek daartoe dient te worden vergezeld van een kopie van een geldig identiteitsbewijs, waarop u uw handtekening heeft gezet en onder vermelding van het adres waarop er met u contact kan worden opgenomen. Binnen 1 maand na het ingediende verzoek, krijgt u antwoord op uw verzoek. Afhankelijk van de complexiteit van de verzoeken en het aantal van de verzoeken kan deze termijn indien nodig met 2 maanden worden verlengd.</span></p>
    <p dir="ltr"> </p>
    <p dir="ltr"><strong><span style="">Artikel 8 - Verwerking van persoonsgegevens</span></strong></p>
    <p><span style="">In geval van schending van enige wet- of regelgeving, waarvan de bezoeker wordt verdacht en waarvoor de autoriteiten persoonsgegevens nodig hebben die de beheerder heeft verzameld, worden deze aan hen verstrekt na een uitdrukkelijk en gemotiveerd verzoek van die autoriteiten, waarna deze persoonsgegevens mitsdien niet meer onder de bescherming van de bepalingen van deze privacyverklaring vallen. </span></p>
    <p><span style="">Indien bepaalde informatie noodzakelijk is om toegang te krijgen tot bepaalde functionaliteiten van de website, zal de verantwoordelijke het verplichte karakter van deze informatie aangeven op het moment van het vragen van de gegevens.</span></p>
    <p dir="ltr"> </p>
    <p dir="ltr"><strong><span style="">Artikel 9 - Commerciële aanbiedingen</span></strong></p>
    <p><span style="">Indien u tijdens het bezoek van de website enige persoonsgegevens tegenkomt, dient u zich te onthouden van het verzamelen ervan of van enig ander ongeoorloofd gebruik alsook van iedere daad die een inbreuk op de persoonlijke levenssfeer van die perso(o)n(en) oplevert. De beheerder is in geen geval verantwoordelijk in bovengenoemde situaties. </span></p>
    <p> </p>
    <p><strong><span style="">Artikel 10 - Bewaartermijn gegevens</span></strong></p>
    <p><span style="">De door de beheerder van website verzamelde gegevens worden gebruikt en bewaard voor de duur zoals deze bij wet is bepaald. </span></p>
    <p dir="ltr"> </p>
    <p dir="ltr"><strong><span style="">Artikel 11 - Cookies </span></strong></p>
    <ol>
    <li>Een cookie is een klein tekstbestand dat bij bezoek aan onze website geplaatst wordt op de harde schijf van uw computer. Een cookie bevat gegevens zodat u bij elk bezoek aan onze website als bezoeker kan worden herkend. Het is dan mogelijk om onze website speciaal op u in te stellen en het inloggen te vergemakkelijken. Wanneer u onze website bezoekt, verschijnt er een banner waarmee we u informeren over het gebruik van cookies. Bij verder gebruik van onze website accepteert u het gebruik ervan. Uw toestemming is geldig voor een periode van dertien maanden.  </li>
    <li><span style="">Wij gebruiken de volgende soorten cookies op onze website:</span></li>
    </ol>
    <div>
    <p><span style="">- Functionele cookies: zoals sessie- en login cookies voor het bijhouden van sessie- en inloginformatie. </span></p>
    </div>
    <div>
    <p><span style="">- </span><span style="">Geanonimiseerde Analytische cookies: om in</span>zage te krijgen in het bezoek aan onze website op basis van informatie over bezoekersaantallen, populaire pagina’s en onderwerpen. Op deze wijze kunnen we de communicatie en informatievoorziening beter afstemmen op de behoeften van bezoekers van onze website. We kunnen niet zien wie onze websites bezoekt of vanaf welke pc het bezoek plaatsvindt. </p>
    </div>
    <div>
    <p><span style="">- Tracking cookies: zoals advertentiecookies die zijn bedoeld voor het tonen van relevante advertenties. Uit de informatie over bezochte websites kunnen persoonlijke interesses worden afgeleid. Daarmee kunnen organisaties hun websitebezoekers bijvoorbeeld gerichte advertenties tonen. Tracking cookies maken het mogelijk om profielen van mensen op te stellen en hen anders te behandelen. Met tracking cookies worden doorgaans persoonsgegevens verwerkt. </span> </p>
    </div>
    <div>
    <ul>
    <li>Externe leveranciers, waaronder Google, gebruiken cookies om advertenties weer te geven op basis van eerdere bezoeken van een gebruiker aan uw website of aan andere websites.</li>
    <li>Met advertentiecookies kunnen Google en zijn partners advertenties weergeven aan u op basis van uw bezoek aan deze site en/of andere sites op internet.</li>
    <li>U kunt zich afmelden voor gepersonaliseerde advertenties door <a href="https://www.google.com/settings/ads" rel="noopener" target="_blank">Advertentie-instellingen</a> te bezoeken. (U kunt zich voor het gebruik van cookies voor gepersonaliseerde advertenties door externe leveranciers kunnen afmelden door <a href="http://www.aboutads.info/choices/" rel="noopener" target="_blank">aboutads.info</a> te bezoeken.)</li>
    </ul>
    <p><span style="">Voor meer informatie over het gebruik, het beheer en het verwijderen van cookies voor elk besturingstype, nodigen wij u uit om de volgende link te raadplegen:  </span><a href="https://autoriteitpersoonsgegevens.nl/nl/onderwerpen/internet-telefoon-tv-en-post/cookies#faq"><span style="color:rgb(17, 85, 204)">https://autoriteitpersoonsgegevens.nl/nl/onderwerpen/internet-telefoon-tv-en-post/cookies#faq</span></a></p>
    </div>
    <p dir="ltr"><strong><span style="">Artikel 12 - Beeldmateriaal en aangeboden producten</span></strong></p>
    <p><span style="">Aan het beeldmateriaal dat behoort bij de aangeboden producten op de website kunnen geen rechten worden ontleend.</span></p>
    <p dir="ltr"> </p>
    <p dir="ltr"><strong><span style="">Artikel 13 - Toepasselijk recht</span></strong></p>
    <p><span style="">Op deze voorwaarden is Nederlands Recht van toepassing. De rechtbank van de woonplaats van de beheerder is exclusief bevoegd bij eventuele geschillen omtrent deze voorwaarden, behoudens wanneer hierop een wettelijke uitzondering van toepassing is. </span></p>
    <p> </p>
    <p><strong><span style="">Artikel 14 - Contact</span></strong></p>
    <p><span style="">Voor vragen, productinformatie of informatie over de website zelf, kunt u zich richten tot: <a href="mailto:info@muziekladder.nl">info@muziekladder.nl</a>.</span></p>
    <p> </p>
    <p><span style="">Deze privacyverklaring is van toepassing sinds oktober 29, 2022 tot nader order. </span></p>
    <p> </p>
    </div>
    </div></div></div>
    </article>
</main>
{% endblock %}
