{% if '?' in data.pageless_request_url  %}
  {%set divide='&' %}
{% else %}
  {%set divide='?'%}
{% endif %}
    <div id="city_groupings_id_ss">
        <h3>{{_('Region')}}</h3>
{% for f in data.solr.facets.city_group.buckets %}
    {% if f.val in data.city_groupings %}
            <div class="filter">
                <a data-value="{{f.val}}" {% if 'city_groupings_id_ss' not in active_filters -%} href="{{data.pageless_request_url}}{{divide}}fq=city_groupings_id_ss:{{f.val}}"{%endif%}>{{data.city_groupings[f.val].group_name}}</a> ({{f.count}})
            </div>
    {% endif %}
{% endfor %}
    </div>
    <div id="city_s">
        <h3>{{_('Place')}}</h3>
{% for f in data.solr.facets.place.buckets %}
            <div class="filter">
                <a data-value="{{f.val}}" {% if 'city_s' not in active_filters -%} href="{{data.pageless_request_url}}{{divide}}fq={!field f=city_s}{{f.val}}"{%endif%}>{{f.val}}</a> ({{f.count}})
            </div>
{% endfor %}
    </div>
    <div id="venue_title_s">
        <h3>{{_('Stage')}}</h3>
{% for f in data.solr.facets.venue.buckets %}
            <div class="filter">
                <a data-value="{{f.val}}" {% if 'venue_title_s' not in active_filters -%} href="{{data.pageless_request_url}}{{divide}}fq={!field f=venue_title_s}{{f.val}}"{%endif%}>{{f.val}}</a> ({{f.count}})
            </div>
{% endfor %}
    </div>
    <div id="country_s">
        <h3>{{_('Country')}}</h3>
{% for f in data.solr.facets.country.buckets %}
            <div class="filter">
                <a data-value="{{f.val}}" {% if 'country_s' not in active_filters -%} href="{{data.pageless_request_url}}{{divide}}fq={!field f=country_s}{{f.val}}"{%endif%}>{{f.val}}</a> 
            </div>
{% endfor %}
    </div>

