    <div class="row">
        <div class="col-md-9 col-lg-8">
        <div class="mb-4 mt-4 text-white rounded bg-dark">
            <div class="px-0">
                {% if show_searchbox_header %}
                <h1 class="headline pb-4 fst-italic ">{% block title %}{{_('Live music, concerts, theatre, parties, performances and more')}}{% endblock %}</h1>
                {% endif %}
                <form autocomplete="off" method="get" action="{{url_for('search.find')}}">
                    <div class="input-group">
                        <input id="zoek-balk" name="q" class="form-control form-control-lg" type="text" placeholder="{{_('Search places, artists, stages, events etc.')}}" {% if data.q %}value = "{{data.q}}"{%endif%} >
          <button class="btn btn-outline-light btn-dark" type="submit"><i class="bi bi-search"></i> {{_('Search')}} </button>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>
