{% if data.total_pages > 1 %}
    {% if '?' in data.pageless_request_url  %}
      {%set divide='&' %}
    {% else %}
      {%set divide='?'%}
    {% endif %}
      <div class="row mb-4">
            <div class="col">
                <nav>
                  <ul class="pagination">
                    {% if 1 not in data.page_range %}
                        <li class="page-item"><a class="page-link" href="{{data.pageless_request_url }}"><i class="bi bi-skip-backward-fill"></i></a></li>
                    {% endif %}
                    {%if data.p > 0 %}
                        <li class="page-item"><a class="page-link" href="{{data.pageless_request_url }}{{divide}}p={{ data.p-1 }}"><i class="bi bi-caret-left-fill"></i></a></li>
                    {% endif %}
                    {% for n in data.page_range %}
                        <li class="page-item {{' active' if n==data.p+1 }}"><a class="page-link" href="{{data.pageless_request_url}}{{divide}}p={{n-1}}">{{n}}</a></li>
                    {% endfor %}
                    {%if data.p < data.total_pages-1 %}
                        <li class="page-item"><a class="page-link" href="{{data.pageless_request_url}}{{divide}}p={{data.p+1}}"><i class="bi bi-caret-right-fill"></i></a></li>
                    {% endif%}
                    {% if data.total_pages not in data.page_range %}
                        <li class="page-item"><a class="page-link" href=" {{data.pageless_request_url}}{{divide}}p={{data.total_pages-1}}"><i class="bi bi-skip-forward-fill"></i></a></li>
                    {% endif %}
                  </ul>
                </nav>
            </div>
        </div>
{% endif %}
