<div class="search-results">
{% for e in data.solr.response.docs -%}
            <div class="result mb-4 pt-2">
    {% if e.data_type_s == 'event' -%}
    {% set gig_url = gig_link(e.event_hash_s, e.date_start_dt, e.venue_id_s) -%}
                <div class="result-title" title="{{_('event')}}" >
                    <i  class="bi bi-calendar-event"></i>&nbsp;&nbsp;
                    <a class="agenda-link" href="{{gig_url}}">
                        <strong class="fs-5">{{ e.event_title_t }}</strong>
                    </a><br >
                    <em>{{e.date_start_dt|format_solr_date}}</em>
                   &nbsp;&bull;&nbsp;
                    <a class="agenda-link" href="{{gig_url}}">
                        <strong>{{e.city_s}}</strong>
                    </a>
                    &nbsp;&bull;&nbsp;
                    <a class="agenda-link" href="{{gig_url}}">
                        <strong>{{e.venue_title_s}}</strong>
                    </a>
                    <p>
                    {{e.event_description_t | truncate(120)}}
                    </p>
                </div>
   {% elif e.data_type_s == 'city' -%}
             <div class="result-title" title="{{_('location')}}">
                <i class="bi bi-geo-alt"></i>
                <a class="city-link" href='{{city_link(e.city_i,e.city_name_t)}}'>
                    <strong class="fs-5">{{e.city_name_t}}</strong>: {{_('place in ')}} 
                   <strong> {{e.city_group_name_ss[0]}} </strong>
                </a>,
                    {% if locale == 'nl' -%}
                    {{ e.city_country_name_ss[1] }}
                    {% else -%}
                    {{ e.city_country_name_ss[1] }}
                    {%endif -%}
             </div>    
   {% elif e.data_type_s == 'post' -%}
            {% if e.post_type_s == 'event' -%}
            <div class="result-title" title="{{_('event tip by user')}}">
                <i class="bi bi-person-square"></i>&nbsp;&nbsp;
                <a class="agenda-link" href="{{post_link(e.post_id_i)}}">
                <strong class="fs-5">{{e.post_title_t}}</strong>
                </a>
                <br>
                {% for d in e.date_start_dts %}{{d|format_solr_date(format="search_results")}} &nbsp;&bull;&nbsp; {% endfor %}
                {% if "city_s" in e %} <strong>{{e.city_s}}</strong>{% endif %}
                <p>
                {% if "venue_title_s" in e %} 
                <strong>{{e.venue_title_s}}</strong><br>
                {% endif %}
 
                 {{e.desc_text_t | truncate(120)}}
                </p>
            </div> 
            {% elif e.post_type_s == 'artist'-%}
            <div class="result-title" title="{{_('artist tip by user')}}">
                <i class="bi bi-person-square"></i>&nbsp;&nbsp;
                <a class="agenda-link" href="{{post_link(e.post_id_i)}}">
                <strong class="fs-5">{{e.post_title_t}}</strong>
                </a>
                <p>
                 {{e.desc_text_t | truncate(120)}}
                </p>
            </div> 
            {% endif -%} 
    {% endif -%} 
    {% if e.post_type -%}
    {% endif -%} 
           </div>
        <hr>
{% endfor -%}
</div>
