{% extends 'base.html' %}
{% set lang = get_locale() %}
{% block title %}Search {% if data.q %}{{data.q}}{% endif %}{% endblock %}
{% block headspace %}{% include 'link_alternate.html' %}{% endblock %}
{% block body_class %}Search{% endblock %}
{% block content %}
    <header>

{% include 'search_box_large.html' %}
    </header>
    <main class="search">
    {% if data.solr.response.numFound > 0 %}
        <div class="row mb-4">
            <div class="col-md-2">
                <strong>{{data.solr.response.numFound}}</strong> {{_('results')}}
            </div>
            <div class="col-md">{{_('displaying')}} {{data['start']+1}} - {{data['end'] }}</div>
        </div>
        {% include 'search_pagination.html' %}
    {% endif %}
    <div class="row">
        <div class="col-md-3">
        {% if active_filters %}
        <h3 class="text-success"><i class="bi bi-funnel"></i> {{_('Filters')}}:</h3>
        {% endif %}
        </div>
        <div class="col-md" id="ActiveFilterContainer"></div> 
    </div>
    <div class="row">
        <div class="col">
            <button id="showFilterButton" class="btn btn-outline-primary" data-clck="showFilters"><i class="bi bi-funnel"></i> {{_('Filters')}}</button>
        </div>
    </div>
    <div class="row">
    {% if data.solr.response.numFound > 0 %}
          <div class="col-md-3 search-filters">
             {% include 'search_facets.html' %}
          </div>
          <div class="col-md ">
            {% include 'search_result_rows.html' %}
          </div>
    {% else %}
          <div class="col-md">
          <p>{{ _('Sorry, we did not find any results for ')}}"<em>{{ data.q}}</em> "</p>
          <p>{{_('Please try another search term.')}}.</p>
          </div>
    {% endif %}
      </div>
      <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md">
      {% include 'search_pagination.html' %}
            </div>
      </div>
    </main>
{% endblock %}
{% block inline_script %}
        ML['active_filters'] = {{active_filters |tojson}}
{% endblock %}
