    <div>
        <div class="spinner-grow spinner-grow-sm text-primary"></div>
        <div class="spinner-grow spinner-grow-sm text-secondary"></div>
        <div class="spinner-grow spinner-grow-sm text-success"></div>
        <div class="spinner-grow spinner-grow-sm text-danger"></div>
        <div class="spinner-grow spinner-grow-sm text-warning"></div>
        <div class="spinner-grow spinner-grow-sm text-info"></div>
    </div>
