{% extends 'base.html' %}
{% set lang = get_locale() %}
{% block title %}{{_('Find concerts, clubs, festivals and parties')}}{% endblock %}
{% block headspace %}{% include 'link_alternate.html' %}{% endblock %}
{% block body_class %}Locaties-uitgaan{% endblock %}
{% block content %}
    <header>
        <h1 class="headline">
            {{_('Find concerts, clubs, festivals and parties') }}
        </h1>
    </header>
    <main>
        <div class="row mb-5">
            <div class="col-md">
                <h3>{{_('Choose a location')}}</h3>
                <h5>{{_('Type a city name or click a location on the map to browse its nightlife, venues, festivals and clubs')}}:</h5>
                <select id="city_select" class="form-select">
                    <option value="" disabled selected>{{_('1. select a place * ')}}</option>
                    {% for c in data.cities %}
                    <option value="{{c.city_id}}">{{c.city_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md">
            </div>
        </div>

        <div class="row">
            <div class="col-md">
                <h2>{{_('Cities')}}</h2>
                <h5>Find venues, festivals and clubs in the following cities:</h5>
                <ul class="float-start city-column">
                {%set ns = namespace(cur_group_name = '', cur_group_id = '', breakie=0)%} 
                {% for c in data.cities%} 
                {% if c.group_name != ns.cur_group_name %}
                {% set ns.cur_group_name = c.group_name%}
                {% set ns.cur_group_id = c.group_id%}
                    {% if ns.breakie %}
                        {% set ns.breakie = 0 %}
                        </ul><ul class="float-start city-column">
                    {%endif%}
                <li><h5 class="{{ns.cur_group_id}}">{{ns.cur_group_name}}</h5></li>
                {% endif %}
                <li class="{{ns.cur_group_id}}" id="l_{{c.city_id}}"><a href="{{city_link(c.city_id,c.city_name)}}">{{c.city_name}}</a></li>
                {% if loop.index0 in data.city_list_breaks %}
                    {% set ns.breakie = 1 %}
                {% endif %}
                {% endfor %}
                </ul>
            </div>
            <div class="col-md">
                <div id="map" style="width:100%; height:1000px; border:1px solid #ccc"></div>
            </div>
        </div>
    </main>
{% endblock %}
{% block inline_script %}
        ML['cities'] = {{data['cities']|tojson|safe}}
{% endblock %}
