{% extends 'base.html' %}
{% set lang = get_locale() %}
{% block title %}{{data['city'].city_name}},  {{_('Going out - concerts, clubs, theatres & events')}}{% endblock %}
{% block headspace %}{% include 'link_alternate.html' %}{% endblock %}
{% block body_class %}Locaties-uitgaan-stad{% endblock %}
{% block content %}
    <header>
        <h1>{{data.city.city_name}} </h1>
        <div class="row">
            <div class="col">
            <h2 class="mb-4">{{_('Locations for going out')}}  - {{_('concerts, clubs, theatres &amp; events')}} </h2>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-8">
                <a class="btn btn-outline-primary btn-lg"  href="{{city_agenda_link(data.city.city_id,data.city.city_name)}}"><i class="bi bi-arrow-right-square-fill"></i>&nbsp;&nbsp; {{ data.city.city_name }} {{_('event calendar')}}</a>
            </div>

        </div>
        <h4>{{data.city.city_name}}, {{data.city.group_name}}, {{country_name(data.city.country_name,lang)}}</h4>
    </header>
    <main>
       <div id="map" style="width:100%; height:300px" class="mb-4"></div>

    <div class="row mb-4">
        <div class="col-md-4">
            <h2>{{_('Locations in') }} {{ data.city.city_name }}</h2>
        </div>

        <div class="col-md-4"></div>
      </div>
       <div class="row">
           <div class="col-md">
            {% if data.venues | length %}
                {%- for venue in data.venues -%} 
                <div class="venue pb-4 mb-2" data-clck="followChildLink">

                    <hr>
                    <h5><i class="bi bi-geo-alt-fill"></i> <strong><a id="{{venue.get("venue_id","venue_row")}}" href="{{venue_link(venue.get("venue_id","venue_row"))}}">{{venue.get("venue_title","venue_row")}}</a></strong></h5>
                    <p>{{venue.get_description(lang) | safe}}</p>
                </div>
                    {% if loop.index0 in data.venues_list_breaks %}
                </div>
                <div class="col-md">
                    {% endif %}
                 {%- endfor -%}
             {% else %}
                <p>{{_('No locations found in') }} {{ data.city.city_name }} </p>
                <p><a href="{{url_for('contact.contact')}}">{{_('Please let us know if we missed a location in ')}}  {{ data.city.city_name }}</a> </p>
            {% endif %}
           </div>
       </div>
    </main>
{% endblock %}
{% block inline_script %}
        ML['city'] = {{data['city']|tojson|safe}}
        ML['venue_rows'] = {{data['venue_rows']|tojson|safe}}
{% endblock %}
