{% extends 'base.html' %}
{% set lang = get_locale() %}
{% block title %}
{{_('edit user name')}} | Muziekladder
{% endblock %}
{% block headspace %}{% include 'link_alternate.html' %}{% endblock %}
{% block body_class %}User user_name_edit{% endblock %}
{% block content %}
<main>
    <h1 class="headline">{{current_user.user_name}} {{_('user name')}}</h1>
    {% set usr_nav_link = 6 %}
    {% include ('user_nav_include.html') %}
 
    {% set usr_sub_link = 1 %}
 
    {% include ('user_settings_navbar.html') %}
 
    {% if data.success %}
        <div class="alert alert-success">
            {{_('User name was set to')}} {{data.user_name}}
        </div>
    {% else %}
    <p>
       {{_('Adjust your user_name (max 30 chars)')}}
    </p>
    <p><em>{{_('User name is for display purposes only. You use your email address to login')}}</em></p>
    {% set error_message = _('user name could not be changed due to the following reasons:') %}
    {% include 'form_errors_partial.html' %}
    <form id="user_name_form" class="userform" action="{{url_for('user.user_name_edit',user_id=data.user_id)}}" method="post">
        {{ form.csrf_token }}
        <div class="row mb-4">
            <div class="col-10">
            {{ form.user_name.label(class_="form-label") }} <span class="text-danger">*</span>
                   {{ form.user_name(class_="form-control") }}
            </div>
        </div>
        <div class="row mb-4">
           <div class="col-12">
                <input class="btn btn-lg btn-primary" type="submit" value="&raquo; {{_('Set username')}}" >
           </div>
        </div>
    </form>
    {% endif %}
</main>
{% endblock %}
