{% extends 'base.html' %}
{% set lang = get_locale() %}
{% block title %}{{_('User registration')}}{% endblock %}
{% block headspace %}{% include 'link_alternate.html' %}{% endblock %}
{% block body_class %}User User_signup {% endblock %}
{% block content %}
    <header>
        <h1 class="headline">{{_('New user account')}}</h1>
        {% include ('user_nav_include.html') %}
    </header>
    <main>
        {%if current_user.is_authenticated %}
         {% include ('user_is_logged_include.html') %}
 
        {% elif please_wait %}
            <p class="fs-4  alert alert-info">{{_('It appears you have just registered.<br> Please check your inbox and possibly also your junkmail.')}} <br> {{_('If you are sure you didn\'t receive an email, please wait one minute before trying again')}}<br><i class="bi bi-envelope"></i></p>
        {% elif success %}
            <p class="fs-4 alert alert-success">{{_('Thank you for registering.')}} <br> {{_('Please check your email.')}}<br>
            <i class="bi bi-envelope"></i></p>
        {% elif failed %}
            <p class="fs-4 alert alert-danger">{{_('Due to a technical problem, we could not process your registration right now.<br> Sorry for the inconvenience. <br> Please try again later.')}}
        {% else %}
        <form id="registerForm" class="userform" method="POST" action="{{url_for('user.register')}}">
            {{ form.csrf_token }}

            {% include 'form_errors_include.html' %}
            <div class="row">
                <div class="col-md-6">
                    {{ form.email.label(class_="form-label") }}
                    {{ form.email(class_="form-control form-control-lg") }}
                </div> 
            </div>
            <div class="row mb-4">
                <div class="col">
                    <div id="emailHelp" class="form-text">{{_('A valid e-mail address.<br> All e-mails from the system will be sent to this address.<br> The e-mail address is not made public and will only be used if you wish to login or receive a new password')}}</div>
                </div> 
            </div>
 
            <input class="btn btn-primary btn-lg" type="submit" value="&raquo; {{_('Create new account')}}">
        </form>
        {% endif %}
    </main>
{% endblock %}
