
<p class="fs-4">{{_('You are logged in as ')}} {{current_user.user_name}}</p>
<p class="mb-4 pb-4">
<a class="btn btn-lg btn-outline-primary" href="{{url_for('muziekformulier.formulier')}}"><i class="bi bi-broadcast"></i>  {{_('Recommend event or artist')}}</a>
</p>
<p><a class="btn btn-secondary" href="{{url_for('user.log_out')}}">Log out</a></p>
