{% extends 'base.html' %}
{% set lang = get_locale() %}
{% block title %}Logon{% endblock %}
{% block headspace %}{% include 'link_alternate.html' %}{% endblock %}
{% block body_class %}User User_logon{% endblock %}
{% block content %}
    <header>
        {% if current_user.is_authenticated %}
        <h1 class="headline">{{_('Welcome ')}} {{current_user.user_name}}</h1>
        {% endif %}
        {% include ('user_nav_include.html') %}
    </header>
    <main>
        {% if data.unique_id_not_in_session %}
        <p class="alert alert-warning">{{_('Browser session not found...<br> Please make sure to open the login link in the same browser you have used to login with, <br><em>(and do not use incognito mode)</em>')}}.</p>
        {% elif data.file_not_found or data.file_expired %}
        <p class="alert alert-warning">{{_('This temporary login link was not found or has expired')}}</p>
        <p>{{_('Temporary login links are valid for only 10 minutes')}}</p>
        <p><a href="{{url_for('user.login')}}">{{_('Please try logging in again')}}</a></p>
        {% elif current_user.is_authenticated  %}
            {% include ('user_is_logged_include.html') %}
        {% endif %}
    </main>
{% endblock %}
