{% extends 'base.html' %}
{% set lang = get_locale() %}
{% block title %}{{ data.user.user_name }}{% endblock %}
{% block headspace %}{% include 'link_alternate.html' %}{% endblock %}
{% block body_class %}User User_profile Post{% endblock %}
{% block content %}
    <header>
        <h1 class="headline"> <i class="bi bi-person-square"></i> {{ data.user.user_name }}</h1>
        {% if current_user.user_id == data.user.user_id %}
            {% include ('user_nav_include.html') %}
        {% endif %}
    </header>
    <main>
        <p>{{_('Registered since')}}:<br>
            <em>{{format_datetime(data.user.date_created,'EEEE d MMMM yyyy')}}</em>
        </p>
        {% if data.posts | length %}
        <div class="tip_container tip-listing">
            <h2 class="mb-4">{{_('Recent tips posted by')}} <em>{{data.user.user_name}}</em></h2>
            {% include 'post-list_pagination.html'%}
            <hr>
            {% include 'posts_include.html'%}
            {% include 'post-list_pagination.html'%}
        </div>
        {% else %}
            <hr>
            <div><em><strong>{{data.user.user_name}}</strong> {{_('has not yet posted anything')}}</em></div>
        {% endif %}
    </main>
{% endblock %}
