{% if not current_user.is_authenticated %}
    <a title="login" href="{{ url_for('user.login')}}" class="top-link login-link btn btn-sm btn-outline-primary">
        <i class="bi bi-person-fill"></i> <span class="topbar-button-txt">login</span>
    </a>
{% else %}
<div id="user_status_q" class="dropdown" data-uid="{{current_user.user_id}}">
    <a class="btn btn-sm login-link top-link btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-person-fill"></i> {{current_user.user_name[:20]}}
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{{url_for('muziekformulier.formulier')}}">{{_('Post a tip')}}</a></li>
        <li><a class="dropdown-item" href="{{url_for('user.user_profile', user_id=current_user.user_id)}}">{{_('Tip list')}}</a></li>
        <li><a class="dropdown-item" data-clck="logoutButton" href="{{url_for('user.log_out')}}">{{_('Log out')}}</a></li>
    </ul>
</div>
{% endif %}
