{% extends 'base.html' %}
{% set lang = get_locale() %}
{% block title %}{{_('User sign up')}}{% endblock %}
{% block headspace %}{% include 'link_alternate.html' %}{% endblock %}
{% block body_class %}User User_signup{% endblock %}
{% block content %}
    <header>
        <h1 class="headline">{{_('Sign up')}}</h1>

        {% include ('user_nav_include.html') %}
    </header>
    <main>
        {%if current_user.is_authenticated %}
            {% include ('user_is_logged_include.html')%}
 
        {% elif data.file_not_found %}
        <p class="alert alert-warning">{{_('This temporary login link was not found or has expired')}}</p>
        <p><a href="{{url_for('user.register')}}">{{_('Try registering again.')}}</a></p>
 
        {% elif data.email_taken %}

        <p class="alert alert-warning">{{_('This email address was already registered, so it cannot be used for a new account. ')}}</p>
        <p><a href="{{url_for('user.password_reset')}}">{{_('Try resetting the password if you forgot what it was.')}}</a></p>
        <p><a href="{{url_for('user.login')}}">{{_('Or try logging in if you remember it.')}}</a></p>

        {% elif data.success %}
            <p class="alert alert-success">{{_('Thank you for registering')}}.<p>
            {% include ('user_is_logged_include.html')%}

        {% else %}
        <form id="signUpForm" class="userform" method="POST" action="{{url_for('user.signup', unique_id=unique_id)}}">
            {{ form.csrf_token }}
            {% include 'form_errors_include.html' %}
            {% include 'user_password_partial.html' %}
            <input class="btn btn-lg btn-primary" type="submit" value="{{_('Set password')}}" >

        </form>
        {% endif %}
    </main>
{% endblock %}
