           <div class="row">
                <div class="col-md">
                <p class="alert alert-warning"><i class="bi bi-person"></i> <em>{{_('Please specify a password for your account')}}.</em></p> 
                </div> 
            </div>
 
           <div class="row">
                <div class="col-md-4">
                    {{ form.passwd1.label(class_="form-label") }}
                    <div class="input-group password-group">
                    {{ form.passwd1(class_="form-control") }}
                     <button class="btn btn-outline-secondary eyeclosedbutton" type="button" data-clck="togglePW"><i class="bi bi-eye-slash"></i></button> 
                     <button class="btn btn-outline-secondary eyebutton" type="button" data-clck="togglePW"><i class="bi bi-eye"></i></button> 
                    </div>
                </div> 
            </div>
            <div class="row mb-4">
                <div class="col">

                    <ul>
                        <li>{{_('pick a password at least 12 characters long (but 14 or more is even better).')}}</li>    
                        <li>{{_('A combination of uppercase letters, lowercase letters, numbers, and symbols')}}.</li>
                    </ul>
</div>
            </div>
 
            <div class="row">
                <div class="col-md-4 mb-4">
                     
                    {{ form.passwd2.label(class_="form-label") }}
                    <div class="input-group password-group">
                        {{ form.passwd2(class_="form-control") }}
                         <button class="btn btn-outline-secondary eyeclosedbutton" type="button" data-clck="togglePW"><i class="bi bi-eye-slash"></i></button> 

                         <button class="btn btn-outline-secondary eyebutton" type="button" data-clck="togglePW"><i class="bi bi-eye"></i></button> 
                   </div>
 
                </div> 
            </div>


