<nav class="row">
    <div class="col-10">
{% if current_user.is_authenticated %}
        <ul class="nav nav-pills mb-4 pb-4 user-actions-menu">
          <li id="usr_nav_link_5" class="nav-item"><a class="nav-link {{ 'active' if usr_nav_link==5 }}" href="{{url_for('muziekformulier.formulier')}}"><i class="bi bi-broadcast"></i>  {{_('Recommend event or artist')}}</a>
          </li>

          <li class="nav-item">
            <a id="usr_nav_link_4" class="nav-link {{ 'active' if usr_nav_link==4 }}" href="{{url_for('user.user_profile',user_id=current_user.id)}}"><i class="bi bi-person"></i> {{current_user.user_name}} - tips</a>
          </li>
          <li>
            <a id="usr_nav_link_6" class="nav-link {{ 'active' if usr_nav_link==6 }}" href="{{url_for('user.reset_password',unique_id='logged_in')}}"><i class="bi bi-person"></i> {{_('User settings')}}</a>

          </li>
        </ul>
{% else %}
        <ul class="nav nav-pills mb-4 pb-4 user-actions-menu">
          <li class="nav-item">
            <a id="usr_nav_link_0" class="nav-link {{ 'active' if usr_nav_link==0 }}" href="{{url_for('user.register')}}"><i class="bi bi-list-ul"></i> {{_('Create new account')}}</a>
          </li>
          <li id="usr_nav_link_1" class="nav-item">
            <a class="nav-link {{ 'active' if usr_nav_link==1 }} " href="{{url_for('user.login')}}"><i class="bi bi-person-fill"></i>  {{_('Log in')}}</a>
          </li>
          <li class="nav-item">
            <a id="usr_nav_link_2" class="nav-link {{ 'active' if usr_nav_link==2 }} " href="{{url_for('user.password_reset')}}"><i class="bi bi-lock-fill"></i> {{_('Request new password')}}</a>
          </li>
        </ul>
{% endif %}
    </div>
</nav>
