{% extends 'base.html' %}
{% set lang = get_locale() %}
{% block title %}Reset password{% endblock %}
{% block headspace %}{% include 'link_alternate.html' %}{% endblock %}
{% block body_class %}User User_reset_password{% endblock %}
{% block content %}
    <header>
        {%if current_user.is_authenticated %}
            <h1 class="headline">{{_('Password for ')}} {{current_user.user_name}}</h1>
        {% else %}
            <h1 class="headline">{{_('Choose a new password')}}</h1>
        {% endif %}
        {% set usr_nav_link = 6 %}
        {% include ('user_nav_include.html') %}
        {% set usr_sub_link = 2 %}
        {% include ('user_settings_navbar.html') %}
 
    </header>
    <main>
        {% if data.file_not_found %}
        <p>{{_('This temporary link was not found. It has expired or has already been used')}}</p>
        <p><a href="{{url_for('user.password_reset')}}">{{_('Try creating a new link.')}}</a></p>
 
        {% elif data.user_not_present %}

        <p><a href="{{url_for('user.register')}}">{{_('Please register an account first')}}</a></p>

        {% elif data.success %}
            <p class="fs-2">{{_('Password was changed successfully.')}}<p>
                {% include('user_is_logged_include.html') %}
        {% else %}
        <form id="resetForm" class="userform" method="POST" action="{{url_for('user.reset_password', unique_id=data.unique_id)}}">
            {{ form.csrf_token }}
            {% include 'form_errors_include.html' %}
            {% include 'user_password_partial.html' %}
            {% if current_user.is_authenticated %}
            <div class="row mb-4 pb-4">
                <div class="col">
                    <div class="form-check form-switch">
                            {{ form.use_mfa(class_="form-check-input") }}
                            {{ form.use_mfa.label(class_="form-check-label") }}
                        <p class="form-text">
                    <i class="bi bi-info-square-fill"></i> {{_('Select this option to always login via email login link')}}.
                        </p>
                    </div>
                </div>     
            </div>
            {% endif %}
            <input class="btn btn-lg btn-primary" type="submit" value="&raquo; {{_('Set password')}}" >
        </form>
        {% endif %}
    </main>
{% endblock %}
