{% extends 'base.html' %}
{% set lang = get_locale() %}
{% block title %}Request reset password{% endblock %}
{% block headspace %}{% include 'link_alternate.html' %}{% endblock %}
{% block body_class %}User User_request_reset{% endblock %}
{% block content %}
    <header>
        <h1 class="headline">{{_('Reset password')}}</h1>
        {% include ('user_nav_include.html') %}
    </header>
    <main>
        {% if success or user_not_present  %}
            <div class="alert alert-info fs-4">

                <em>{{_('Please check your email')}}</em> &nbsp;&nbsp;<span class="fs-1"><i class="bi bi-envelope"></i> </span><br>
                {{_('If')}} <em>{{data['form_mail']}}</em> {{_('belongs to a valid account, an email will be sent with instructions to reset your password.')}}
            </div>
        {% elif please_wait %}
            <div class="alert alert-info fs-4">
                <em>{{_('Please wait one minute before trying again')}}</em> &nbsp;&nbsp;<span class="fs-1"><i class="bi bi-envelope"></i> </span><br>
            </div>
 
        {% elif failed %}
            <p>{{_('Due to a technical problem, we could not process your request right now. <br>Sorry for the inconvenience.<br> Please try again later.')}}</p>
 
        {% else %}
        <form id="resetForm" class="userform" method="POST" action="{{url_for('user.password_reset')}}">
            {{ form.csrf_token }}

            {% include 'form_errors_include.html' %}
            <div class="row">
                <div class="col-md-6">
                    {{ form.email.label(class_="form-label") }}
                    {{ form.email(class_="form-control form-control-lg") }}
                </div> 
            </div>
            <div class="row mb-4">
                <div class="col">
                    <div id="emailHelp" class="form-text">{{_('Please enter the email address registered for your account.')}}</div>
                </div> 
            </div>
 
            <input class="btn btn-primary btn-lg" type="submit" value="&raquo;  {{_('Request password reset link')}}">
        </form>
        {% endif %}
 
    </main>
{% endblock %}
