{% extends 'base.html' %}
{% set lang = get_locale() %}
{% block title %}User Login{% endblock %}
{% block body_class %}User User_login{% endblock %}
{% block content %}
    <header>
        <h1 class="headline">{{_('Log in')}}</h1>
        {% include ('user_nav_include.html') %}
    </header>
    <main>
        {% if user_name %}
            {% include ('user_is_logged_include.html') %}
        {% elif blocked: %}
            <div class="row">
                <div class="col">
                    <p class="alert alert-warning"><i class="bi bi-shield-x"></i> {{_('Sorry,  too many faulty login attempts. <br> This account has been temporarily blocked due too someone repeatedly trying to login with non-valid credentials')}}.</p>
       <p><a href="{{url_for('user.password_reset')}}">&raquo; {{_('Did you forget your password?')}}</a></p>
 
                </div>
            </div>
        {% elif success_mail %}
          <div class="row">
            <div class="col">
                <p class="alert alert-success fs-3">{{_('Almost there!')}}<br>
<em>{{_('Please check your email')}}</em>&nbsp;&nbsp;<i class="bi bi-envelope"></i></span><br><br>
{{_('A login link has been sent to the specified address. - Click it to log in.')}}&nbsp;&nbsp;<span class="fs-3">  <br>

                </p>
                {% if repeated %}
                <p><em>{{_('Please wait at least a minute before requesting a new login link.')}}</em></p>
                {% endif %}
            </div>
            
        </div>
           
        {% elif failed_mail %}
         <div class="row">
            <div class="col">
                 <p class="text-danger"><em>{{_('Sorry, due to technical problems we cannot log you in at the moment.')}}</em></p> 
                <p class="text-danger"><em>{{_('Please try again later')}}</em></p> 
            </div>
        </div>
    
        {% else %}
        {% if attempts > 1 %}
            {% if max_attempts - attempts == 0  %}
            <p class="alert alert-warning`">{{_('Careful, this is your last login attempt! If this one fails, you will be blocked temporarily.')}}
            {% else %}
            <p class="alert alert-warning">{{max_attempts - attempts +1 }} {{_('login attempts left')}}</p>
            {% endif %}
        {% endif %}
        <form id="loginForm" class="userform" method="POST" action="{{url_for('user.login')}}">
            {{ form.csrf_token }}
     
            {% if login_failed %}
            <div class="row">
                <div class="col">
                    <p class="alert alert-danger"><em><i class="bi bi-shield-exclamation"></i> {{_('Incorrect password and/or email')}}</em></p> 
                    <p><a href="{{url_for('user.password_reset')}}">&raquo; {{_('Forgot your password?')}}</a></p>
                     <p><a href="{{url_for('user.register')}}">&raquo; {{_('Do you want to register a new account')}}?</a></p>
 
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-md-6 mb-4">
                    {{ form.email.label(class_="form-label") }}
                    {{ form.email(class_="form-control form-control-lg") }}
                </div> 
            </div>
            <div class="row">
                <div class="col-md-6 mb-4">
                    {{ form.passwd.label(class_="form-label") }}
                    {{ form.passwd(class_="form-control form-control-lg") }}
                </div> 
            </div>

            <input type="submit" class="btn btn-lg btn-primary" value="&raquo; {{_('Login')}}">
        </form>
        {% endif %}
    </main>
{% endblock %}
