{% if current_user.is_authenticated %}
    <ul class="nav nav-tabs mb-4">
      <li class="nav-item">
        <a id="usr_nav_link_1" class="nav-link {{ 'active' if usr_sub_link==1 }}" href="{{url_for('user.user_name_edit')}}">{{_('user name')}}</a>
      </li>
      <li id="usr_nav_link_2" class="nav-item">
        <a class="nav-link {{ 'active' if usr_sub_link==2 }}" href="{{url_for('user.reset_password',unique_id='logged_in')}}">{{_('password')}}</a>
      </li>
    </ul>
{% endif %}

