@include media-breakpoint-up(md) { 
    :root {
        --bs-body-font-size: 1.1rem;
    }
}

@include media-breakpoint-down(xl) { 
    .top-menu-nav {
        .top-logo{
            top:-4px
        }
        .top-logo,
        .top-logo-link{
            width:150px;
        }
    }
}

@include media-breakpoint-down(lg) {
  .top-menu-top{
      div.menu-search-small{
        display:block;
      }
  }
  .top-menu-nav {
    .menu-search{
      display:none;
    }
  }
}

@include media-breakpoint-down(md) { 
    #feedback_simple{
        display:none;
    }
    .Home{
        .front-city-menu {
            li.city{
                padding-top:1rem;
                height:auto;
                width:47%;
                .city-name{
                    width:100%;
                    font-size:1.5em
                }
                .city-links {
                    display:none;
                }
            }
        }
    }
    .maincontent-container{
        overflow-x:hidden;
    }
    .scrollin .top-menu-nav .top-logo-small{
        width:35px;
        top:5px;
    }
    .top-menu-top{

        .topbar-button-txt{display:none}
        .dark-light{
            .topbar-button-txt{display:none}
            span.light-button-txt{
                display:none
            }
        }
    }
    .top-menu-nav {
        .top-logo-link{width:50px}
        .top-logo{
            display:none
        }
        .top-logo-small{
            width:48px;
            display:block;
            top:-20px

         }
    }
    .Search {
        .search-filters{display:none}
        #showFilterButton{
            display:block;
        }

    }
    .user-actions-menu{
        flex-direction:column
    }
}


@include media-breakpoint-down(sm) { 
    .top-menu-nav {
        .top-menu {
            .menu-item {
                font-size:0.9em;
                min-width:6rem;
                padding-left:0.3rem;
                padding-right:0.3rem;
            }
        }
    }
}

@media (min-width: 370px) { 
    .d-vsm-flex{
        display:flex !important
    }
    .hamburger-menu{
        display:none
    }
}

@media (max-width: 370px) { 
    body {
        .top-menu-top {
            .top-link {
                margin-left:0.5rem;
            }
        }
        .top-menu-nav {
            .top-menu {
                width:100%;
                .hamburger-menu{
                    display:block;
                }
                .menu-item {
                    display:none;
                    border-right:0px;
                }
            }
        }
    }
    body.hamburger-expand{
        .top-menu-nav {
            .top-menu {
                .menu-item{
                    display:flex;
                }
            }
        }
    }
}
