:root{
--ml-background-hover:AliceBlue;
--ml-text-color-hover: green;
--ml-border-color:lightSteelBlue;
}

i.bi{display:inline-block; min-width:1.1rem}
a {
    text-decoration:none;
    color:steelblue;
    &:hover{
        color:MediumSeaGreen;
    }
}
label{font-weight:bold}
h1,h2,h3,h4 {
    /*font-family:Georgia,"Times New Roman",Times,serif*/
    font-weight:bold;
}
h1.headline {
    margin-bottom:3rem;
}
.Post_detail h1.headline {
    margin-bottom:0.5rem;
}
main{
    min-height:90vh
}
.top-logo-small,
.top-logo{
    position:absolute;    
    top:-25px;
}

.top-logo-small{
    display:none;

}
.navbar-dark {
    color:white;
    background-color:rgba(0, 0, 0, 0.802);
}
#scrollToTopBtn {
    background-color: black;
    color: white;
    opacity:0;
    z-index:100;
    position: fixed;
    bottom: 30px;
    right: 30px; 
    transform: translateY(100px);
    transition: all .5s ease;
    border:2px solid #888;
}
.showBtn {
    #scrollToTopBtn {
        opacity: 1;
        transform: translateY(0)
    }
}

.top-menu-top{
    transition:0.5s;
    .menu-search-small{
      display:none;
    }
    .top-link{
        transition:0.3s;
        margin-left:1.8rem;
    }
    label:hover,
    .top-link:hover{
        opacity:0.8;
        cursor:pointer;
    }
    .dark-light{
        font-size:1.2rem;
        label.btn{color:white}
        .bi-sun-fill{ display:none}
        .light-button-txt{ display:none}
    }
    .dropdown-menu{
        z-index:1200;
    }
}
article.post{
    border-left:12px solid var(--ml-border-color);
    padding-left:1rem;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    transition: box-shadow 0.3s ease-in-out;
    &:hover{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    figure {margin-right:1rem}
}
#agenda_filters {
    margin-bottom:2rem;
}
.scrollin .top-menu-nav .top-logo{
    width:130px;
    top:5px;
}
.top-menu-nav {
    margin-bottom:2rem;
    .top-logo,
    .top-logo-link{
        width:200px;
    }
    .top-menu {
        .menu-item {
            font-weight:bold;
            transition:0.3s;
            padding-left:0.5rem;
            padding-right:0.5rem;
            min-width:7rem;
            min-height:45px;
            border-right:1px solid white;
            a {
                color:white;
                text-decoration:none;
            }
        }
        .menu-item.active,
        .menu-item:hover{
            cursor:pointer;
            background-color:white;
            border-right:1px solid black;
            a{
                color:black
            }
        }
        .menu-item:last-child{
            border-right:0px;
        }
    }
}

body{
    letter-spacing:0.01px;
}

.loading-animation{
    display:none;
}

#feedback_simple{
    a{
        cursor:pointer;
        overflow:hidden;
        position:fixed;
        top:45%;
        right:0px;
        height:100px;
        width:35px;
        text-decoration:none;
        z-index:9999;
    }
} 


body.loading{
    .container{
      filter: blur(3px);
    }
    .loading-animation{
        display:block;
        position:fixed;
        top:0;
        left:0;
        right:0;
        bottom:0;
        text-align:center;
        z-index:1030;
        opacity:0.8;
        > div {
            height:100vh;
        }
    }
}


/* home */
.Home{

    .hideAllCities{
        display:none;
    }
    &.citiesShown{
        .hideAllCities{
            display:block;
        }
        .showAllCities{
            display:none;
        }
    }
    .group_menu { 
        .group_link {
            border:var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
            color:steelBlue;
        }
        .group_link:hover{
            border-color:white;
            background:black;
            color:white;
        }
    }

    .row.city_images{
        margin-bottom:1.5rem
    }

    .front-city-menu{
        display:flex;
        flex-wrap: wrap; 
        justify-content: space-between; 
        padding-left:0px;
        li.city{
            list-style: none;
            display: block;
            height: 160px;
            position: relative;
            text-align: center;
            width: 300px;
            opacity: 1;
            transition: all 0.5s ease-in-out;
            li{
                list-style:none;
            }
            .city-name {
                &:hover{
                    opacity:1;
                }
                opacity:0.9;
                border-radius:6px;
                color: #fff;
                font-size: 2em;
                font-weight: bold;
                text-shadow: 2px 2px 2px black;
                display: block;
                width: 294px;
                height: 110px;
                margin: 0 auto;
                margin-bottom: 6px;
                line-height: 1.5;
                text-align: center;
                background-image: url('../../images/bigpicture.webp');
                background-repeat: no-repeat;
                background-position: top center;
                clear: both;
            }
        }
        li.city-4 {
            .city-name{
                background-position:0px -10px;
            }
        }
        li.city-5 {
            .city-name{
                background-position:0px -170px;
            }
        }
        li.city-7 { 
            .city-name{
                background-position:0px -550px;
            }
        }
        li.city-6 {
             .city-name{
                background-position:0px -370px;
             }
        }
        li.city-1413406572 {
            .city-name{
              background-position:0px -1150px;
            }
        }
        li.city-8 {
            .city-name{
              background-position:0px -690px;
            }
        }
        li.city-15{ 
            .city-name{
              background-position:0px -816px;
            }
        }
        li.city-1 {
            .city-name{
              background-position:0px -1274px;
            }
        }
        li.city-1439757759 {
            .city-name{
              background-position:0px -1457px;
            }
        }
        li.city-100 {
            .city-name{
              background-position:0px -1790px;
            }
        }
        li.city-17 {
            .city-name{
              background-position:0px -1620px;
            }
        }
        li.city-1412801590 { 
            .city-name{
              background-position:0px -990px;
            }   
        }
    }
}

body.Agenda {
    main{
        margin-bottom:2rem;
    }
    .pageButtons{
        margin-bottom:1.5rem;
    }
    .gig.opened{
        margin-left:-1rem;
        margin-right: -1rem;
        margin-bottom:1.5rem;
        margin-top:0.5rem;
        padding-bottom:1rem;
        padding-top:1rem;
        border:1px solid var(--ml-border-color);
        box-shadow: 0px 0px 20px #999;
        .first-col, .second-col {
            display:none !important;
        }
        .detail_container{
            h2 a{
                font-family: var(--bs-body-font-family);
                color:black;
                &:hover{
                    color:#333;
                }
            }
            display:block;
        }
    }
}

.Agenda {
    .human-date {
        background:black;
        padding:0.6rem;
        margin-left:-1.5rem;
        padding-left:1.5rem;
        h2.agenda-list-header {
            margin-bottom:0rem;
            font-size:1.5rem;
            color:white
        }
    }
    .gig:hover {
        background-color: var(--ml-background-hover);
        cursor:pointer;
        &.opened:hover{
            background-color: inherit;
            cursor:default;
        }
        .first-col, .second-col {
            a {
                color:var(--ml-text-color-hover);
            }
        }
        .first-col{
            a:hover{
                color:var(--ml-text-color-hover)
            }
        }
    }
    .gig {
        transition:0.3s;
        border-left:12px solid var(--ml-border-color);
        border-top:2px solid  var(--ml-border-color);
        margin-top:1px;
        .detail_container {
            display: none;
            padding-left: 1rem;
        }
        .first-col, .second-col {
            padding:4px 0px;
            a {
                text-decoration:none;
            }
        }
        .first-col{
            figure.image-cell{
                img{
                    opacity:0.5;
                    transition: opacity 0.5s ease-in-out;
                    border-left:0.5rem solid var(--bs-body-bg);
                }
                img.img-small{
                    border-left:0px;
                }
                img.loaded{
                    opacity:1
                }
                min-width:60px;
                min-height:60px;
                background:#fff;
                margin:0px 8px 0px 0px;
            }
            figure.failed{
                display:none
            }
            a {
                color:black;
            }
            
            padding-left:1rem;
        }
    }
}
.Gig, .detail_container {
    h1.headline, h2.headline{
        border-top:4px solid  var(--ml-border-color);
        border-bottom:1px solid  var(--ml-border-color);
        a {
            display: block;
            padding-top:0.5rem;
            padding-bottom:0.7rem;
            transition:0.3s;
        }
        a:hover{
            background-color: var(--ml-background-hover);
        }
    }
    h3, h4 {
        margin-bottom:1.5rem;
    }
    figure.image-cell{
        img{
            opacity:0.5;
            transition: opacity 0.5s ease-in-out;
            border-left:0.5rem solid var(--bs-body-bg);
            max-width:100%;
        }
        img.loaded{
            opacity:1
        }
        float:right;
        min-width:150px;
        min-height:150px;
        max-width:50%;
        background:#dfdfdf;
        margin:0px 0px 8px 8px;
    }
    figure.failed{
        display:none
    }
    .location {
        margin-top:3rem;
        padding:1rem 1.2rem;
        background:#efefef;
        border-top:0.5rem solid var(--ml-border-color);
    }
}
.Locaties-uitgaan-stad {
    .venue{
        cursor:pointer;
        transition: box-shadow 0.3s ease-in-out;
        &:hover{
            h5 {
                background:#efefef;
            }
            box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
        }
     }
    .window-info{
        a{cursor:pointer;}
        background:white;
        color:#333;
    }
} 
.Locaties-uitgaan {
    .city-column{
        width:33%
    }
    #autocomplete {
        margin-bottom:1rem;
        input.autocomplete-input{ 
            border-color:var(--bs-border-color);
            color:var(--bs-body-color);
            background-color:var(--bs-body-bg);
        }
        input.autocomplete-input:focus,
        input.autocomplete-input[aria-expanded=true]{
            color:var(--bs-body-color);
            background-color:var(--bs-body-bg);
            border-color:var(--bs-focus-ring-color);
        }
        ul.autocomplete-result-list{
            border-color:var(--bs-border-color);
            background-color:var(--bs-body-bg);
            li{
               color:var(--bs-body-color);
               background-color:var(--bs-body-bg);
            }
            li.autocomplete-result:hover,
            li.autocomplete-result[aria-selected=true]{
                background-color:rgba(0,0,0,1);
                color:white;
            }
        }
    }
}
.Locaties-venue {
    .locatie_gig_row{
        padding-top:0.5rem ;
        padding-bottom:0.5rem ;
        border-bottom:1px dotted #ccc;
    }
    .map{
        margin-bottom:2rem;
    }
    .address_table{
        margin-bottom:2rem;
     }

}

.Muziekformulier{
    form#muziekformulier {
        fieldset{margin-bottom:1rem}
    }
    #submitContainer{
        margin-bottom:10rem
    }

    #submitContainer, #uploadContainer,
    .step1_row, .step2_row, .step3_row,
    .city_as_text .citySelectContainer,
    .city_as_text .venueSelectContainer,
    .city_as_text .checkboxVenueContainer,
    .venue_as_text .venueSelectContainer,
    .cityTextContainer,
    .venueTextContainer{
        height:0px;
        overflow:hidden;
     }

    .city_as_text .cityTextContainer,
    .city_as_text .venueTextContainer,
    .venue_as_text .venueTextContainer,
    .step1 .step1_row,
    .step2 #submitContainer,
    .step2 #uploadContainer,
    .step2 .step2_row{
        height:auto;
        overflow:visible;
    } 
    .step3 .step3_row{
        display:block;
    } 
}


.tip-listing {
    .extensive{
        display:none;
    }
    &.loading{
        opacity:0.2
    }
}


ul.post-event-details{
    list-style:none;
    padding-left:0px;
}
.Post_detail{
    .desc{
        line-height:1.8
    }
}
.Search{
    #showFilterButton{
        display:none
    }
}
.User{
    .eyeclosedbutton{
        display:none
    }
    .PWvisible{
        .eyeclosedbutton{
            display:inline-block
        }
        .eyebutton{
            display:none
        }
    }



}
