$color-mode-type: data;

[data-bs-theme="dark"] {
    --ml-background-hover:#092635;
    --ml-text-color-hover: lightgreen;
    --ml-border-color:rgb(40, 64, 96);
}

@include color-mode(dark) {
    .choices__inner{
        background-color:black;
    }
    .choices__list, .choices__list--dropdown, .choices[data-type*="select-one"] .choices__input {
        background-color:black;
    }

    .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
        background:#222;
    }

    .dark-button-txt{
        display:none
     }
    .dark-light{
        .dark-button-txt,
        .bi-moon-stars-fill{
            display:none
        }
        .light-button-txt,
        .bi-sun-fill{ display:inline-block}
    }

    .navbar-dark{
        background:rgba(0,0,0,0.802);
    }

    .top-menu {
        .menu-item {
            background:black;
            border-right:1px solid white;
            a {
                color:var(--bs-heading-color);
            }
        }
    }

    body.Agenda .gig.opened{
        box-shadow: 0px 0px 20px #000;
        background:#292734;
        .detail_container{
            h2 a{
                color:white;
                &:hover{
                    color:#efefef;
                }
            }
        }
    }

    article.post{
        box-shadow: rgba(17, 17, 26, 0.9) 0px 1px 0px, rgba(17, 17, 26, 0.6) 0px 0px 8px;
        &:hover{
        box-shadow: rgba(0, 0, 0, 0.95) 0px 54px 55px, rgba(0, 0, 0, 0.82) 0px -12px 30px, rgba(0, 0, 0, 0.82) 0px 4px 6px, rgba(0, 0, 0, 0.87) 0px 12px 13px, rgba(0, 0, 0, 0.79) 0px -3px 5px;
        }
    }
    
    .Agenda .gig {
        border-left-color:rgb(40, 64, 96);
        border-top-color:rgb(40, 64, 96);
        .first-col {
            figure.image-cell{
                background:black;
            }
            a {
                color:rgb(200, 195, 188);
            }
        }
    }

    .Gig, .detail_container {
        figure.image-cell{
            background:#000;
        }
        .location{background:#000}
    }

    .Muziekformulier {
    }

    .Locaties-venue {
        .window-info {
            color:black
        }
    }

    .Locaties-uitgaan-stad {
        .venue{
            &:hover{
                h5 {
                    background:#333;
                }
                box-shadow: rgba(0, 0, 0, 1) 2.4px 2.4px 3.2px;
            }
         }
    } 
}


